<div class="terms">
    <div class="page-title">
        <h2>NewWell Privacy Policy</h2>
    </div>
    <div class="content">
        <p>By visiting, accessing, or using NewWell Music Platform, you signify that you have the right, authority and capacity to enter into this Agreement, that you have read and understand this Agreement, and that YOU AGREE TO ABIDE BY ALL OF THE TERMS
            AND CONDITIONS OF THIS AGREEMENT, INCLUDING AUTO-RENEWALS OF YOUR SUBSCRIPTION AND PROVISIONS GOVERNING DISPUTE RESOLUTION. PLEASE READ THESE TERMS CAREFULLY. IF YOU DO NOT AGREE, DO NOT ACCESS OR USE THE SERVICES.
        </p>
        <ol>
            <li><a routerLink="." fragment="privacyPolicy">PRIVACY POLICY</a></li>
            <li><a routerLink="." fragment="cookesTechnology"> COOKIES TECHNOLOGY</a></li>
            <li><a routerLink="." fragment="personalInformation"> ACCESS TO PERSONAL INFORMATION</a></li>
            <li><a routerLink="../terms"> TERMS AND CONDITIONS</a></li>
        </ol>


        <div class="para">
            <div class="para-title">
                <h2 id="privacyPolicy">Privacy policy</h2>
            </div>
            <div class="para-content">
                <p>
                    Your privacy is of key essence at newwell music and we protect and secure your personal data submitted to us, which means that cannot be given to any third party unless demanded by court order as stated by the laws of the government of Kenya. Children
                    Privacy The services we offer are not directed at children under the age of 13. We don’t accept the registration of persons under 13 years to our services. If you believe that we might have any personal information of persons under
                    13 notify us immediately. How we collect your Personal Information We ask for your personal information when: Opening an account with newwell music and affiliates. Verifying your account details Processing your payment. Use of Personal
                    Information Your personal information is used with your consent after accepting our policies. Below are some of the instances where your information is used; To update you on upcoming music, artists, events, Latest software versions
                    and changes on our policies. For internal use of analysis, research, promotion in order to improve, advertise, deliver, operate, create and develop our services. To communicate and notify our users and artists on our platform. To verify
                    your identity in terms of payment, account recovery, etc. Alternative sources of personal information collected. At times we get your information from third parties or other platforms in most cases. We may collect your information
                    and use it in the following ways. In your consent, we fetch data about you and how you manipulate your application and device to assist developers to improve their work(apps). We gather and retain information on how you use our platform
                    including Search queries. This information will be used to improve the accuracy of the search results provided by our platform. We may fetch data concerning customer activities on our platform e.g booking, messaging. This information
                    is of the essence as it helps in providing fundamental information to our clients and to understand which parts of our websites, services are of more interest. We fetch information about your location, unique device identifier, and
                    time zone so that we can understand the Behaviour of our clients.
                </p>
            </div>
        </div>
        <div class="para">
            <div class="para-title">
                <h2 id="cookesTechnology">Cookies Technology</h2>
            </div>
            <div class="para-content">
                <p>
                    This is a minute file that is placed on your devices that helps us to recognize your device when you return to the service. We use this technology and others(pixels, local storage & web beacons) to remember user preferences and to understand how our services
                    can be used. Advertisers and partners are allowed to serve Ads on the services.in this case, they may use cookies or similar technology to track and collect similar information. The help feature on most browsers will tell you how to
                    prevent your browser from accepting new cookies, how to notify you when you receive a new cookie, or how to disable cookies. This may, however, impact the functionality of the services. We may use cookies from such third-parties e.g
                    google, twitter & facebook. Disclosure to Third parties. In some cases, we may share certain personal information to provide to improve our services including Analytics. In this case, we require the third party to handle the information
                    in accordance with the relevant laws. For your own information Personal information will never be shared with third parties for marketing. MORE At times by law, legal process, litigation, and/or requests from public and governmental
                    authorities located within or outside your country of residence- For Newwell music to disclose your personal information. We may also disclose information about you if determined that for the purpose of national law enforcement or
                    issues of public importance, disclosure is necessary or appropriate.we only disclose information about you, only when there is a lawful basis for doing so, if we determine that the disclosure is reasonably necessary to enforce our
                    terms and conditions or protect our operations or users. PROTECTION OF PERSONAL INFORMATION Newwell music protects your personal information securely.we protect your information during transit of personal data through Transport Layer
                    Security (TSL). When using social networking services the content and personal information shared is visible to other users and can be read, collected, or used by them. In this case, you are responsible for the information that you
                    prefer to share. Please take care when using these services. Integrity and Retention of Personal Information We make it easy for you to update, complete and accurate your personal information. We shall retain your information until
                    we achieve our purpose outlined in the Terms and conditions.We retain your information for the shortest period of time possible to realize the purpose of collection unless a longer retention period is required by law.
                </p>
            </div>
        </div>
        <div class="para">
            <div class="para-title">
                <h2 id="personalInformation">Access to Personal Information</h2>
            </div>
            <div class="para-content">
                <p>
                    You can counter check your personal information and update by signing in to your Newwell music account. In other personal information we retain, it shall be provided for any purpose including to request for correction or deletion of data If Newwell is
                    required by law or for legitimate business purposes. We may decline to process requests that are frivolous/vexatious, jeopardize the privacy of others, are extremely impractical, or for which access is not otherwise required by local
                    law. Third-party sites and services Newwell music website may contain links to third-party websites, products, and services. Our platform may use or offer products and services from third parties. Information collected by third parties,
                    which may include such things as contact details, is governed by their privacy practices of those third parties. International users All the information you provide may be transferred or accessed by entities around the world as described
                    in this privacy policy. As a global company, we have legal entities in different jurisdictions that are responsible for the personal information which they collect and which is processed on their behalf by Newwell music. Users Privacy
                    To ensure your personal safety a guarantee, we communicate our privacy and security guidelines to Newwell Employees and strictly enforce privacy safeguards within the company.
                </p>
            </div>
        </div>
    </div>
</div>