




$bright: rgb(43, 163, 199);


$primary: #0f1011;
$danger: #ff4136;
$secondary: white;
$background: rgb(226, 223, 223);
$primary: #16579f;
$text-color: white;
$secondary: rgb(13, 216, 114);
$original-text-color: #FF0039;
$banner: #060606;


$primary: #0f1011;
$danger: #FF0039;
$secondary: white;
$shadowtext: 1px 1px 3px #0f1011;
// $background: #1c1d1d;
$pepea: #4e504e;



:host {
  .faq {
    display: flex;
    // justify-content: center;
    width: 100%;

    // background: lighten($primary, 5%);
padding-top: 70px;
flex-direction: column;
align-items: center;
margin-bottom: 50px;

    .page-title {
    display: flex;
    // justify-content: flex-start;
    width: 80%;
    align-items: center;
    height: 80px;
      h2 {
        color: white;

      }
    }



    .content {

      display: flex;
      justify-content: center;
      width:100%;

      ol {
        display: flex;
        width: 80%;
        flex-direction: column;

        counter-reset: my-awesome-counter;
        list-style: none;
        padding-left: 40px;







        li {
          display: flex;
          width:100%;
         background: darken($primary, 5%);
         border-radius: 10px;
         padding: 5px;
         align-items: center;
         margin: 0 0 0.5rem 0;
         counter-increment: my-awesome-counter;
         position: relative;
         flex-direction: column;
         align-items: flex-start;

         margin: 10px;

          p {
            color: white;
            margin:0;
            margin-left: 20px;
            margin-right: 20px;
          }

          .title {
            font-size: 20px;
          }

          .content {
            padding:10px;
            margin-left:10px;
          }


          &:hover{
            background: $danger;
          }


          &::before {
            // content: counter(my-awesome-counter);
            color: #fcd000;
            font-size: 1.5rem;
            font-weight: bold;
            position: absolute;
            --size: 32px;
            left: calc(-1 * var(--size) - 10px);
            line-height: var(--size);
            width: var(--size);
            height: var(--size);
            top: 0;
            transform: rotate(-10deg);
            background: black;
            border-radius: 50%;
            text-align: center;
            box-shadow: 1px 1px 0 #999;
          }
        }
      }
    }


  }
}
