@import '../../../sass/base';
:host {
    .faq {
        display: flex;
        // justify-content: center;
        width: 100%;
        background: black;
        padding-top: 70px;
        padding-bottom: 8rem;
        flex-direction: column;
        align-items: center;
        .page-title {
            display: flex;
            // justify-content: flex-start;
            width: 80%;
            align-items: center;
            height: 80px;
            h2 {
                color: $secondary;
                font-size: 24px;
            }
        }
        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            ol {
                width: 50%;
                li {
                    // display: flex;
                    width: 100%;
                    border-radius: 10px;
                    padding: 2px;
                    align-items: center;
                    margin: 0 0 0.5rem 0;
                    counter-increment: my-awesome-counter;
                    position: relative;
                    // flex-direction: column;
                    // align-items: flex-start;
                    margin: 3px;
                    color: $secondary;
                    a {
                        text-transform: uppercase;
                        color: $secondary;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .detailed {
                display: flex;
                width: 80%;
                flex-direction: column;
                counter-reset: my-awesome-counter;
                li {
                    display: flex;
                    width: 100%;
                    background: lighten(black, 6);
                    border-radius: 10px;
                    padding: 2px;
                    align-items: center;
                    margin: 0 0 0.5rem 0;
                    counter-increment: my-awesome-counter;
                    position: relative;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 3px;
                    p {
                        color: white;
                        margin: 0;
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                    .title {
                        font-size: 20px;
                        color: $secondary;
                    }
                    .content {
                        padding: 10px;
                        margin-left: 10px;
                        color: $text-color;
                    }
                    // &:hover {
                    //     background: $danger;
                    // }
                    &::before {
                        // content: counter(my-awesome-counter);
                        color: #fcd000;
                        font-size: 1.5rem;
                        font-weight: bold;
                        position: absolute;
                        --size: 32px;
                        left: calc(-1 * var(--size) - 10px);
                        line-height: var(--size);
                        width: var(--size);
                        height: var(--size);
                        top: 0;
                        transform: rotate(-10deg);
                        background: black;
                        border-radius: 50%;
                        text-align: center;
                        box-shadow: 1px 1px 0 #999;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .faq {
        .content {
            width: 80%;
            ol {
                display: flex;
                width: 90%;
                padding: 0;
            }
        }
    }
}