<div class="faq">

  <div class="page-title">

    <h2> Frequently asked Questions</h2>

  </div>


  <div class="content">
    <ol>
      <li>
        <p class="title">What is Newwell music?</p><br/>
        <p class="content">

          We are a Unique  Digital platform that provides listing of artist’s &  music in kenya  and upload to well known streaming services across the Globe To help them generate income.
        </p>

      </li>

      <li>
        <p class="title">How does it benefit artists?.</p>

      </li>

      <li>
        <p class="title">How does it benefit fans?.</p><br/>
        <p class="content">
          Fans are able to access their favorite artists music hustle free in one platform where they can download directly to the streaming platforms e.g jambo tunes,tunecore e.t.c
        </p>
      </li>

      <li>
        <p class="title">How To register as an artist?</p><br/>
        <p class="content">
          Click on the Sign up as an artist option and register within seconds and later fill in a verification form and wait for confirmation.This may take less than 24hr.
        </p>
      </li>


      <li>
        <p class="title">How to Reset password?.</p><br/>
        <p class="content">
          Below the Log in button click on the Forgot password and follow the procedures.
        </p>
      </li>


      <li>
        <p class="title">How to upload my music on newwell studio?</p><br/>
        <p class="content">
          Only A registered artist isis able to upload his music through his dashboard once registered.
        </p>
      </li>

      <li>
        <p class="title"> How do I Download music?</p><br/>
        <p class="content">
          By clicking the Streaming platform Icons you will be redirected to the Website where you will download the Music.
        </p>
      </li>


      <li>
        <p class="title"> Is Newwell Music Free?</p><br/>
        <p class="content">
          Users are not charged to use this platform but you will be required to pay for the music to download in the Digital platforms.
        </p>
      </li>


      <li>
        <p class="title">  Can I download music to my phone?</p><br/>
        <p class="content">
          This really depends on the platform you are using may vary.
        </p>
      </li>



    </ol>
  </div>







</div>
