$primary: #0f1011;
$danger: #FF0039;
$secondary: white;
$danger2: #ff4136;
table {
    tbody tr {
        img {
            height: 20px;
            width: 20px;
        }
    }
}

.banner {
    margin-top: 4rem;
    margin-bottom: 0;
    width: 100%;
    height: 400px;
    position: relative;
    .overlay {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background: radial-gradient(transparent 10%, black);
        h1 {
            width: 50%;
            margin-top: 200px;
            margin-left: 2rem;
            span {
                text-transform: uppercase;
            }
        }
        @media (max-width:1024px) {
            h1 {
                margin-top: 140px;
            }
        }
        @media (max-width:768px) {
            h1 {
                margin-top: 150px;
                font-size: 2rem;
            }
        }
        @media (max-width:475px) {
            h1 {
                margin-top: 70px;
                font-size: 1.5rem;
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 300px;
    }
}

@media (max-width: 425px) {
    .banner {
        height: 200px;
    }
}

.containerWrap {
    background: black;
    padding: 50px 0;
    .generalStats {
        display: flex;
        justify-content: center;
        .stat {
            width: 30%;
            height: 230px;
            margin-left: 1rem;
            border: 1px solid $danger2;
            border-radius: 10px;
            canvas {
                padding: 5px;
                max-height: 220px;
            }
            p {
                text-align: center;
                background: #0f1011;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 2px;
            }
        }
    }
    @media (max-width: 767px) {
        .generalStats {
            flex-flow: column;
            .stat {
                width: 90%;
                margin: 10px 1rem;
            }
        }
    }
    .songStats {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .songStat {
            width: 160px;
            margin: 30px 10px;
            height: 50px;
            background: darken(#61234e, 10);
            padding: 10px 5px;
            border-radius: 10px;
            text-align: center;
            span {
                background: black;
                padding: 5px;
            }
        }
        @media (max-width: 1244px) {
            .songStat {
                width: 320px;
                margin-bottom: 0;
            }
        }
        @media (max-width: 1135px) {
            .songStat {
                width: 270px;
                margin-bottom: 0;
            }
        }
        @media (max-width: 980px) {
            .songStat {
                width: 225px;
                margin-bottom: 0;
            }
        }
        @media (max-width: 594px) {
            .songStat {
                width: 170px;
                margin-bottom: 0;
            }
        }
        @media (max-width: 494px) {
            .songStat {
                width: 80%;
                margin-bottom: 0;
            }
        }
    }
    .top {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem 0 1rem 0;
        padding-right: 4rem;
        background: black;
        // box-sizing: border-box;
        // padding: 1rem;
        // .btn {
        //     margin-left: 60%;
        // }
        .dropdownButton {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: lighten(black, 20);
            color: $secondary;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
            a {
                color: white;
                display: inline-block;
                text-decoration: none;
            }
            a:hover {
                background: black;
            }
        }
        .dropdownButton:hover .dropdown-content {
            display: block;
        }
    }
    @media (max-width: 425px) {
        .top {
            h2 {
                font-size: 0.6rem;
            }
            .dropdown {
                button {
                    font-size: 0.6rem;
                }
            }
        }
    }
    @media (max-width: 375px) {
        .top {
            flex-wrap: wrap-reverse;
            justify-content: space-between;
            .dropdown {
                button {
                    font-size: 0.6rem;
                    // margin-bottom: 20px;
                }
            }
        }
    }
    .assets {
        margin: 1rem 2rem 2rem 1rem;
        background: black;
        .assets-list {
            background: lighten($primary, 10);
            padding: 8px 10px 0 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border-radius: 4px;
            margin-top: 14px;
            .asset-list {
                text-align: left;
                padding: 10px;
                img {
                    width: 40px;
                    height: 30px;
                    border-radius: 2px;
                }
                .itemNumber,
                .albumArt,
                .songDuration,
                .viewStats {
                    flex-basis: 5%;
                }
                .title {
                    flex-basis: 250px;
                }
            }
        }
        .assets-list-mobile {
            display: none;
            margin-top: 1rem;
            .main-info {
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin-bottom: 5px;
                margin-top: 0;
                padding-top: 10px;
                padding-left: 5px;
                background: lighten($primary, 30);
                -webkit-box-shadow: 5px 5px 15px 5px lighten($primary, 5), -6px 5px 5px 4px lighten($primary, 5);
                box-shadow: 5px 5px 15px 5px lighten($primary, 5), -6px 5px 5px 4px lighten($primary, 5);
                border-radius: 5px;
                cursor: pointer;
                .asset-list {
                    text-align: left;
                    padding: 10px;
                    img {
                        width: 40px;
                        height: 30px;
                        border-radius: 2px;
                    }
                    .itemNumber,
                    .albumArt {
                        flex-basis: 5%;
                    }
                    .title {
                        flex-basis: 250px;
                    }
                }
            }
            .other-info {
                width: 100%;
                margin-top: 15px;
                margin-bottom: 0;
                padding-top: 10px;
                // background: lighten($primary, 0);
                display: flex;
                justify-content: space-around;
                .asset-list {
                    text-align: left;
                    padding: 10px;
                    img {
                        width: 40px;
                        height: 30px;
                        border-radius: 2px;
                    }
                    p {
                        font-size: 0.8rem;
                    }
                    .songDuration,
                    .genre,
                    .status,
                    .viewStats {
                        flex-basis: 5%;
                    }
                    .title {
                        flex-basis: 250px;
                    }
                }
            }
        }
        @media (max-width: 868px) {
            .assets-list {
                display: none;
            }
            .assets-list-mobile {
                display: block;
            }
        }
    }
    .col-md-6 {
        .card {
            margin-bottom: 1rem;
        }
    }
    .red {
        color: red;
    }
    .green {
        color: green;
    }
    .blue {
        color: blue;
    }
    .orange {
        color: orangered;
    }
    .danger {
        color: $danger;
    }
    @media (max-width: 769px) {
        .top {
            h2 {
                font-size: 1rem;
            }
            a {
                font-size: 0.7rem;
                .btn {
                    margin-left: 0;
                }
            }
        }
        table {
            thead {
                th {
                    font-size: 0.8rem;
                }
            }
            tbody {
                tr {
                    th,
                    td {
                        font-size: 0.8rem;
                        i {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .containerWrap {
        margin-right: 0;
    }
}

@media (max-width:375px) {
    .containerWrap {
        // padding-right: 0;
        // padding-left: 0;
        .assets {
            margin-right: 1rem 2rem 0 1rem;
        }
    }
}