table tbody tr img {
  height: 20px;
  width: 20px;
}

.banner {
  margin-top: 4rem;
  margin-bottom: 0;
  width: 100%;
  height: 400px;
  position: relative;
}

.banner .overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: radial-gradient(transparent 10%, black);
}

.banner .overlay h1 {
  width: 50%;
  margin-top: 200px;
  margin-left: 2rem;
}

.banner .overlay h1 span {
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .banner .overlay h1 {
    margin-top: 140px;
  }
}

@media (max-width: 768px) {
  .banner .overlay h1 {
    margin-top: 150px;
    font-size: 2rem;
  }
}

@media (max-width: 475px) {
  .banner .overlay h1 {
    margin-top: 70px;
    font-size: 1.5rem;
  }
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .banner {
    height: 300px;
  }
}

@media (max-width: 425px) {
  .banner {
    height: 200px;
  }
}

.containerWrap {
  background: black;
  padding: 50px 0;
}

.containerWrap .generalStats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerWrap .generalStats .stat {
  width: 30%;
  height: 230px;
  margin-left: 1rem;
  border: 1px solid #ff4136;
  border-radius: 10px;
}

.containerWrap .generalStats .stat canvas {
  padding: 5px;
  max-height: 220px;
}

.containerWrap .generalStats .stat p {
  text-align: center;
  background: #0f1011;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2px;
}

@media (max-width: 767px) {
  .containerWrap .generalStats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .containerWrap .generalStats .stat {
    width: 90%;
    margin: 10px 1rem;
  }
}

.containerWrap .analytics-link {
  float: right;
  padding-right: 3rem;
}

.containerWrap .songStats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerWrap .songStats .songStat {
  width: 160px;
  margin: 30px 10px;
  height: 50px;
  background: #3c1530;
  padding: 10px 5px;
  border-radius: 10px;
  text-align: center;
}

.containerWrap .songStats .songStat span {
  background: black;
  padding: 5px;
}

@media (max-width: 1244px) {
  .containerWrap .songStats .songStat {
    width: 320px;
    margin-bottom: 0;
  }
}

@media (max-width: 1135px) {
  .containerWrap .songStats .songStat {
    width: 270px;
    margin-bottom: 0;
  }
}

@media (max-width: 980px) {
  .containerWrap .songStats .songStat {
    width: 225px;
    margin-bottom: 0;
  }
}

@media (max-width: 594px) {
  .containerWrap .songStats .songStat {
    width: 170px;
    margin-bottom: 0;
  }
}

@media (max-width: 494px) {
  .containerWrap .songStats .songStat {
    width: 80%;
    margin-bottom: 0;
  }
}

.containerWrap .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem 0 1rem 0;
  padding-right: 4rem;
  background: black;
}

.containerWrap .top .dropdownButton {
  position: relative;
  display: inline-block;
  background: #0f1011;
  padding: 20px 10px;
}

.containerWrap .top .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.containerWrap .top .dropdown-content a {
  color: white;
  display: inline-block;
  text-decoration: none;
}

.containerWrap .top .dropdown-content a:hover {
  background: black;
}

.containerWrap .top .dropdownButton:hover .dropdown-content {
  display: block;
}

@media (max-width: 425px) {
  .containerWrap .top h2 {
    font-size: 0.6rem;
  }
  .containerWrap .top .dropdownButton a {
    font-size: 0.6rem;
  }
}

@media (max-width: 375px) {
  .containerWrap .top {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .containerWrap .top .dropdownButton a {
    font-size: 0.6rem;
  }
}

.containerWrap .assets {
  margin: 1rem 2rem 2rem 1rem;
  background: black;
}

.containerWrap .assets .assets-list {
  background: #272a2c;
  padding: 8px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 4px;
  margin-top: 14px;
}

.containerWrap .assets .assets-list .asset-list {
  text-align: left;
  padding: 10px;
}

.containerWrap .assets .assets-list .asset-list img {
  width: 40px;
  height: 30px;
  border-radius: 2px;
}

.containerWrap .assets .assets-list .asset-list .itemNumber,
.containerWrap .assets .assets-list .asset-list .albumArt,
.containerWrap .assets .assets-list .asset-list .songDuration,
.containerWrap .assets .assets-list .asset-list .viewStats {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.containerWrap .assets .assets-list .asset-list .title {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.containerWrap .assets .assets-list-mobile {
  display: none;
  margin-top: 1rem;
}

.containerWrap .assets .assets-list-mobile .main-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5px;
  margin-top: 0;
  padding-top: 10px;
  padding-left: 5px;
  background: #575d62;
  -webkit-box-shadow: 5px 5px 15px 5px #1b1d1f, -6px 5px 5px 4px #1b1d1f;
  box-shadow: 5px 5px 15px 5px #1b1d1f, -6px 5px 5px 4px #1b1d1f;
  border-radius: 5px;
  cursor: pointer;
}

.containerWrap .assets .assets-list-mobile .main-info .asset-list {
  text-align: left;
  padding: 10px;
}

.containerWrap .assets .assets-list-mobile .main-info .asset-list img {
  width: 40px;
  height: 30px;
  border-radius: 2px;
}

.containerWrap .assets .assets-list-mobile .main-info .asset-list .itemNumber,
.containerWrap .assets .assets-list-mobile .main-info .asset-list .albumArt {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.containerWrap .assets .assets-list-mobile .main-info .asset-list .title {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.containerWrap .assets .assets-list-mobile .other-info {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.containerWrap .assets .assets-list-mobile .other-info .asset-list {
  text-align: left;
  padding: 10px;
}

.containerWrap .assets .assets-list-mobile .other-info .asset-list img {
  width: 40px;
  height: 30px;
  border-radius: 2px;
}

.containerWrap .assets .assets-list-mobile .other-info .asset-list p {
  font-size: 0.8rem;
}

.containerWrap .assets .assets-list-mobile .other-info .asset-list .songDuration,
.containerWrap .assets .assets-list-mobile .other-info .asset-list .genre,
.containerWrap .assets .assets-list-mobile .other-info .asset-list .status,
.containerWrap .assets .assets-list-mobile .other-info .asset-list .viewStats {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.containerWrap .assets .assets-list-mobile .other-info .asset-list .title {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

@media (max-width: 868px) {
  .containerWrap .assets .assets-list {
    display: none;
  }
  .containerWrap .assets .assets-list-mobile {
    display: block;
  }
}

.containerWrap .col-md-6 .card {
  margin-bottom: 1rem;
}

.containerWrap .red {
  color: red;
}

.containerWrap .green {
  color: green;
}

.containerWrap .blue {
  color: blue;
}

.containerWrap .orange {
  color: orangered;
}

.containerWrap .danger {
  color: #FF0039;
}

@media (max-width: 769px) {
  .containerWrap .top h2 {
    font-size: 1rem;
  }
  .containerWrap .top a {
    font-size: 0.7rem;
  }
  .containerWrap .top a .btn {
    margin-left: 0;
  }
  .containerWrap table thead th {
    font-size: 0.8rem;
  }
  .containerWrap table tbody tr th,
  .containerWrap table tbody tr td {
    font-size: 0.8rem;
  }
  .containerWrap table tbody tr th i,
  .containerWrap table tbody tr td i {
    display: none;
  }
}

@media (max-width: 425px) {
  .containerWrap {
    margin-right: 0;
  }
}

@media (max-width: 375px) {
  .containerWrap .assets {
    margin-right: 1rem 2rem 0 1rem;
  }
}
/*# sourceMappingURL=home.component.css.map */