$primary: #0f1011;
$danger: #FF0039;
$secondary: white;
table {
    tbody tr {
        img {
            height: 20px;
            width: 20px;
        }
    }
}

.top {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 1rem;
    // box-sizing: border-box;
    // padding: 1rem;
    // .btn {
    //     margin-left: 60%;
    // }
}

.col-md-6 {
    .card {
        margin-bottom: 1rem;
    }
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.orange {
    color: orangered;
}

.danger {
    color: $danger;
}

@media (max-width: 769px) {
    .top {
        h2 {
            font-size: 1rem;
        }
        a {
            font-size: 0.7rem;
            .btn {
                margin-left: 0;
            }
        }
    }
    table {
        thead {
            th {
                font-size: 0.8rem;
            }
        }
        tbody {
            tr {
                th,
                td {
                    font-size: 0.8rem;
                    i {
                        display: none;
                    }
                }
            }
        }
    }
}