
$bright: rgb(43, 163, 199);
$primary: #0f1011;
$danger: #ff4136;
$background: rgb(226, 223, 223);
$text-color: white;
$secondary: rgba(25, 128, 76, 0.925);
$original-text-color: #FF0039;
$banner: #060606;
$shadowtext: 1px 1px 3px #0f1011;
$publish: #02576c;
$pricing: #00a79d;
$dashboard: #61234e;
$login: #a72693;
$artist: #c02118;
$signup: #f6d365;
$marketing: rgb(41, 168, 115);
