<div class="header ">
    <img src="../../../assets/img/pricing.jpg">
  <h2>Publishing</h2>
</div>
<div class="publishing clip-me">


  <div class="content">
    <div class="page-title">

      <h2> How It Works</h2>

    </div>

    <div class="deck">

      <div class="circle">
        1
      </div>
      <div class="line">

      </div>

    </div>

    <div class="para">
      <h2> Create Account</h2>


      <div class="main">
        <p>Sign up with us either as an artist to get your work published and access to
          analytics to review your progress or as a user to interact with the online
          community.</p>
      </div>
    </div>


    <div class="deck">
      <div class="circle">
        2
      </div>
      <div class="line">

      </div>

    </div>

    <div class="para">
      <h2> Upload your music</h2>
      <div class="main">
        <p>Upload your singles,Albums etc and release them more fast and reliable. Get
          published in jambo tunes Spotify, Apple Music, Amazon, Google Play, and
          iTunes, choose from more streaming store digital and services .</p>
      </div>

    </div>



    <div class="deck">
      <div class="circle">
        3
      </div>
      <div class="line">

      </div>

    </div>

    <div class="para">
      <h2> We publish your music to stores</h2>
      <div class="main">
        <p>
          Newwell music will send your music to all of the preferred stores and streaming
          services worldwide. Start earning from your art faster than any other platform
          before.
        </p>
      </div>

    </div>



    <div class="deck">
      <div class="circle">
        4
      </div>
      <div class="line">

      </div>

    </div>

    <div class="para">
      <h2> Start getting Paid</h2>
      <div class="main">
        <p>
          Every time you get streamed on Spotify. Every download of your music on
          iTunes.You get paid, and we put your money directly into your Newwell music
          account.
        </p>
      </div>

    </div>
  </div>


</div>

<div class="testimonials clip-me">

  <div class="testimonials-title">
    <h2>Testimonials</h2>
  </div>

  <!-- <div class="testimonials-content">
    <div class="testimony">
      <img src="../../../assets/img/pricing.jpg" alt="Name">

      <h3>Artsist</h3>

      <p> Every time you get streamed on Spotify. Every download of your music on
        iTunes.You get paid, and we put your money directly into your Newwell music
        account.</p>

    </div>

    <div class="testimony">
      <img src="../../../assets/img/pricing.jpg" alt="Name">

      <h3>Artist Name</h3>

      <p> Every time you get streamed on Spotify. Every download of your music on
        iTunes.You get paid, and we put your money directly into your Newwell music
        account.</p>

    </div>

    <div class="testimony">
      <img src="../../../assets/img/pricing.jpg" alt="Name">

      <h3>Artist Name</h3>

      <p> Every time you get streamed on Spotify. Every download of your music on
        iTunes.You get paid, and we put your money directly into your Newwell music
        account.</p>

    </div>





  </div> -->

  <section class="card-section">

      <div class="cards" [flickity]="options">
          <div class="cards-item" [flickityChild] *ngFor="let artist of artists">
              <div class="card" (click)="goToArtistProfile(artist._id)">
                  <img class="card-img-top" src="{{artist.profilePic}}" alt="Card image cap">
                  <div class="card-body">
                      <p class="artist text-center font-weight-bolder "> {{artist.name}}</p>
                  </div>
              </div>
          </div>

      </div>

  </section>

</div>
