<div class="publishing">
    <div class="header">
        <div class="hero">
            <img src="../../../assets/img/pricing.jpg" alt="" srcset="">
        </div>



        <div class="action">

            <div class="call">
                <h2>Publishing</h2>
                <p>publishing</p>

                <div class="btnClass">
                    <!-- <a class="btn-outline">Call To Action</a> -->
                    <a routerLink="/artist-signup" class="btn">Get Started</a>
                </div>

            </div>
            <div class="call1">
                <!-- <img src="../../../assets/img/audience-band-blur-1587927.jpg"> -->

            </div>

        </div>

    </div>
    <div class="tabs">
        <div class="tab tab-one" (click)="showartsit()" id="tab-artist">
            <h2 (click)="showartsit()">Am an artist </h2>
        </div>
        <div class="tab tab-two" (click)="showjoin()" id="tab-join">
            <h2 (click)="showjoin()"> How to join</h2>
        </div>

        <div class="tab tab-three" (click)="showworks()" id="tab-works">
            <h2 (click)="showworks()">How it works</h2>
        </div>
    </div>


    <div class="div-one gradient-normal bgdark" id="artist">



        <div class="card">
            <div class="top">

                <img src="../../../assets/images/bgSignUp.jpg">
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> Create An Account</h2>


                    <div class="main">
                        <p>Sign up with us either as an artist to get your work published and access to analytics to review your progress or as a user to interact with the online community.
                        </p>
                    </div>

                    <a routerLink="/artist-signup" class="btn-p">Create Account</a>
                </div>
            </div>

        </div>

        <div class="card">
            <div class="top">
                <img src="../../../assets/images/microphone.jpg">

                <!-- <div><i class="fa fa-upload iconify"></i></div> -->
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> Upload your music</h2>

                    <div class="main">
                        <p>Upload your singles,Albums etc and release them more fast and reliable. Get published in jambo tunes Spotify, Apple Music, Amazon, Google Play, and iTunes, choose from more streaming store digital and services.
                        </p>
                    </div>

                    <!-- <a href="" class="btn-p">Upload Now</a> -->
                </div>
            </div>

        </div>
        <div class="card">
            <div class="top">
                <img src="../../../assets/images/bgSignUp.jpg">

                <!-- <div><i class="fa fa-book iconify"></i></div> -->
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> We publish your music to stores</h2>


                    <div class="main">
                        <p>
                            Newwell music will send your music to all of the preferred stores and streaming services worldwide. Start earning from your art faster than any other platform before.
                        </p>
                    </div>

                    <!-- <a href="" class="btn-p">We publish Your To Stores</a> -->
                </div>
            </div>

        </div>

        <div class="card">
            <div class="top">
                <img src="../../../assets/images/bgSignUp.jpg">

                <!-- <div><i class="fa fa-money iconify"></i></div> -->
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> Start getting Paid</h2>


                    <div class="main">
                        <p>
                            Every time you get streamed on Spotify. Every download of your music on iTunes.You get paid, and we put your money directly into your Newwell music account.
                        </p>
                    </div>


                </div>
            </div>

        </div>

        <!-- <div class="right">

      <img src="../../../assets/img/audience-band-blur-1587927.jpg">

    </div>
    <div class="left">

        <div class="para">

            <h2> Create An Account</h2>


            <div class="main">
              <p>Sign up with us either as an artist to get your work published and access to
                analytics to review your progress or as a user to interact with the online
                community.</p>
            </div>

            <a href="" class="btn-p">Create Account</a>
          </div>

    </div> -->

    </div>
    <div class="div-one gradient-none bgdark" id="join">


        <div class="card">
            <div class="top">

                <img src="../../../assets/images/bgSignUp.jpg">
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> Create An Account</h2>


                    <div class="main">
                        <p>Sign up with us either as an artist to get your work published and access to analytics to review your progress or as a user to interact with the online community.
                        </p>
                    </div>

                    <a routerLink="/artist-signup" class="btn-p">Create Account</a>
                </div>
            </div>

        </div>

        <div class="card">
            <div class="top">
                <img src="../../../assets/images/microphone.jpg">

                <!-- <div><i class="fa fa-upload iconify"></i></div> -->
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> Upload your music</h2>

                    <div class="main">
                        <p>Upload your singles,Albums etc and release them more fast and reliable. Get published in jambo tunes Spotify, Apple Music, Amazon, Google Play, and iTunes, choose from more streaming store digital and services.
                        </p>
                    </div>

                    <!-- <a href="" class="btn-p">Upload Now</a> -->
                </div>
            </div>

        </div>
        <div class="card">
            <div class="top">
                <img src="../../../assets/images/bgSignUp.jpg">

                <!-- <div><i class="fa fa-book iconify"></i></div> -->
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> We publish your music to stores</h2>


                    <div class="main">
                        <p>
                            Newwell music will send your music to all of the preferred stores and streaming services worldwide. Start earning from your art faster than any other platform before.
                        </p>
                    </div>

                    <!-- <a href="" class="btn-p">We publish Your To Stores</a> -->
                </div>
            </div>

        </div>

        <div class="card">
            <div class="top">
                <img src="../../../assets/images/bgSignUp.jpg">

                <!-- <div><i class="fa fa-money iconify"></i></div> -->
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> Start getting Paid</h2>


                    <div class="main">
                        <p>
                            Every time you get streamed on Spotify. Every download of your music on iTunes.You get paid, and we put your money directly into your Newwell music account.
                        </p>
                    </div>


                </div>
            </div>

        </div>




    </div>

    <div class="div-one gradient-normal bgdark" id="works">



        <div class="card">
            <div class="top">

                <img src="../../../assets/images/bgSignUp.jpg">
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> Create An Account</h2>


                    <div class="main">
                        <p>Sign up with us either as an artist to get your work published and access to analytics to review your progress or as a user to interact with the online community.
                        </p>
                    </div>

                    <a routerLink="/artist-signup" class="btn-p">Create Account</a>
                </div>
            </div>

        </div>

        <div class="card">
            <div class="top">
                <img src="../../../assets/images/microphone.jpg">

                <!-- <div><i class="fa fa-upload iconify"></i></div> -->
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> Upload your music</h2>

                    <div class="main">
                        <p>Upload your singles,Albums etc and release them more fast and reliable. Get published in jambo tunes Spotify, Apple Music, Amazon, Google Play, and iTunes, choose from more streaming store digital and services.
                        </p>
                    </div>

                    <!-- <a href="" class="btn-p">Upload Now</a> -->
                </div>
            </div>

        </div>
        <div class="card">
            <div class="top">
                <img src="../../../assets/images/bgSignUp.jpg">

                <!-- <div><i class="fa fa-book iconify"></i></div> -->
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> We publish your music to stores</h2>


                    <div class="main">
                        <p>
                            Newwell music will send your music to all of the preferred stores and streaming services worldwide. Start earning from your art faster than any other platform before.
                        </p>
                    </div>

                    <!-- <a href="" class="btn-p">We publish Your To Stores</a> -->
                </div>
            </div>

        </div>

        <div class="card">
            <div class="top">
                <img src="../../../assets/images/bgSignUp.jpg">

                <!-- <div><i class="fa fa-money iconify"></i></div> -->
            </div>

            <div class="bottom">
                <div class="para">

                    <h2> Start getting Paid</h2>


                    <div class="main">
                        <p>
                            Every time you get streamed on Spotify. Every download of your music on iTunes.You get paid, and we put your money directly into your Newwell music account.
                        </p>
                    </div>


                </div>
            </div>

        </div>


        <!-- <div class="right">

        <img src="../../../assets/img/audience-band-blur-1587927.jpg">

      </div>
      <div class="left">

          <div class="para">

              <h2> Create An Account</h2>


              <div class="main">
                <p>Sign up with us either as an artist to get your work published and access to
                  analytics to review your progress or as a user to interact with the online
                  community.</p>
              </div>

              <a href="" class="btn-p">Create Account</a>
            </div>

      </div> -->

    </div>
    <!-- <div class="div-one gradient-normal bgdark">

    <div class="right">

      <img src="../../../assets/img/audience-band-blur-1587927.jpg">

    </div>
    <div class="left">

        <div class="para">

            <h2> Create An Account</h2>


            <div class="main">
              <p>Sign up with us either as an artist to get your work published and access to
                analytics to review your progress or as a user to interact with the online
                community.</p>
            </div>

            <a href="" class="btn-p">Create Account</a>
          </div>

    </div>

  </div>

  <div class="div-one flex-reverse gradient-none">

      <div class="right">

        <img src="../../../assets/img/chord-close-up-electric-guitar-96380.jpg">

      </div>
      <div class="left">

          <div class="para">


              <h2> Upload your music</h2>
              <div class="main">
                <p>Upload your singles,Albums etc and release them more fast and reliable. Get
                  published in jambo tunes Spotify, Apple Music, Amazon, Google Play, and
                  iTunes, choose from more streaming store digital and services.</p>
              </div>
              <a href="" class="btn">Upload Now</a>
            </div>

      </div>

    </div>



    <div class="div-one gradient-normal">

        <div class="right">

          <img src="../../../assets/img/black-connection-device-6320.jpg">

        </div>
        <div class="left">

            <div class="para">

                  <h2> We publish your music to stores</h2>
                  <div class="main">
                    <p>
                      Newwell music will send your music to all of the preferred stores and streaming
                      services worldwide. Start earning from your art faster than any other platform
                      before.
                    </p>
                  </div>


              </div>

        </div>

      </div>


      <div class="div-one flex-reverse gradient-none">

          <div class="right">

            <img src="../../../assets/img/blur-close-up-concert-164879.jpg">

          </div>
          <div class="left">

              <div class="para">


                    <h2> Start getting Paid</h2>
                    <div class="main">
                      <p>
                        Every time you get streamed on Spotify. Every download of your music on
                        iTunes.You get paid, and we put your money directly into your Newwell music
                        account.
                      </p>
                    </div>
                  <a href="" class="btn">Create Account</a>
                </div>

          </div>

        </div>
 -->




    <div class="foot">

        <div class="para">

            <h2>Get Started Now</h2>
            <div class="main">
                <p>Sign up with us either as an artist to get your work published and access to analytics to review your progress or as a user to interact with the online community.
                </p>
            </div>

            <a routerLink="/artist-signup" class="btn">Start Now</a>
        </div>

    </div>
</div>