



$bright: rgb(43, 163, 199);


$primary: #0f1011;
$danger: #ff4136;
$secondary: white;
$background: rgb(226, 223, 223);
$primary: #16579f;
$text-color: white;
$secondary: rgb(13, 216, 114);
$original-text-color: #FF0039;
$banner: #060606;


$primary: #0f1011;
$danger: #FF0039;
$secondary: white;
$shadowtext: 1px 1px 3px #0f1011;
// $background: #1c1d1d;
$pepea: #4e504e;


h2 {
  color:white;
}
// .p {
//   color: grey;

// }

body {
  background: grey;
}


.clip-me {


  /* current version (doesn't require positioning) */
  // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%); /* or "none" */
  /* values are from-top, from-right, from-bottom, from-left */

}


.header {
  display: flex;
  width: 100%;
  height:250px;
  justify-content: center;
  // align-items: center;
  color: white;
  background: $banner;
  // margin-top: 100px;
  position: relative;
  z-index: 0;
  background-position: top;


  img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    z-index: 1;
  }

  h2 {
    position: absolute;
    left: center;
    top: 100px;
    color: white;
    z-index: 2;
    font-size: 28px;

    text-decoration: none;
  }
  hr {

    position: absolute;
    left: 48%;
    top: 100px;
    color: white;
    z-index: 2;
    font-size: 28px;

    text-decoration: none;
  }

  h3 {
    position: absolute;

    top: 150px;
    color: white;
    z-index: 2;
    font-size: 20px;

    text-decoration: none;
  }
}




.publishing {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
// background: url(../../../assets/img/pricing.jpg) no-repeat;
background: rgb(41, 39, 39);

overflow: hidden;

  .header {
      height: 20vh;
      width: 100%;

  }

  .content {

      // background: green;

      width: 80%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;

      .page-title {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

.deck {
  width:30%;
  // background: coral;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .circle {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;

      &:hover {
        background: $danger;
        width:70px;
        height: 70px;
        border-radius: 50%;
        // .deck & .line {
        //   background: red;
        // }
      }
  }
  .line {
      width: 2px;
      background: white;
      height: 20vh;
  }





}
.para {
  width: 70%;
  // background: palegreen;
display: flex;
justify-content: center;
 flex-direction: column;
 align-items: center;
 height: 30vh;
 color:grey;

  h2 {
      color:white;
  }

  .main {
    width:80%;
    display: flex;
    justify-content: center;

    p {
      color: grey;

  }

  }


}
  }
}



.testimonials {

  display: flex;
  align-content: center;
  background: grey;
  flex-direction: column;



  .testimonials-title {
    width: 100%;
    height: 80px;
    display: flex;
    margin-top:30px;
    margin-bottom:10px;
    justify-content: center;
    align-items: center;

  }


  .testimonials-content {
    width: 100%;

    display: flex;

    margin-bottom:20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;


    .testimony {
      width: 30%;
      // background: yellow;

      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;

      img {

        margin:20px;
        height: 200px;
        width: 400px;
        object-fit: cover;
        border-radius: 15px;
      }


      h3 {
        margin-top: 20px;
        color: white;
      }


      p {
        font-style: italic;
        font-size: 18px;
        margin: 20px;
        color:rgb(238, 230, 230);

      }
    }

  }


}


@media screen and (max-width: 800px){


.header {
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

position: relative;


h2 {
  position: absolute;
  margin-top: 80px;
  left: 25%;

}

}



}


@media screen and (max-width: 640px){



  .header {
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: relative;


  h2 {
    position: absolute;
    margin-top: 80px;
    left: 25%;

  }

  }

.publishing {
  .content {

    .page-title {

      justify-content:center;
      align-items: center;
    }
    .deck {
      display: none;
    }

    .para {
      width:100%;

      h2 {
        margin-left: 20px;
        font-size: 20px;
    }
    }
  }
}


.testimonials {



  .testimonials-content {


    .testimony {
      width: 100%;
      // background: yellow;
      height: 100%;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;

      img {

        margin:20px;
        height: 200px;
        width: 400px;
        object-fit: cover;
        border-radius: 15px;
      }


      h3 {
        margin-top: 20px;
        color: white;
      }


      p {
        font-style: italic;
        font-size: 18px;
        margin: 20px;
        color:rgb(238, 230, 230);

      }
    }

  }


}


}


@media screen and (max-width: 320px){



  .header {
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: relative;


  h2 {
    position: absolute;
    margin-top: 80px;
    left: 25%;

  }

  }

.publishing {
  .content {
    .deck {
      display: none;
    }
    .para {
      width:100%
    }
  }
}




}




