<div class="outer-container">
    <header>
        <div class="banner">
            <div class="video-content">
                <video *ngIf="videosrc" autoplay muted loop>
          <source [src]="videosrc">
        </video>
            </div>
            <div class="overlay">
                <div class="text-content">
                    <p class="banner-title">Newwell Music publishing</p>
                    <p>Have your songs published and starting earning from your sales with Newwell Music
                    </p>
                    <a href="https://app.newwellmusic.com" class="link-button">Get Started</a>
                </div>
            </div>
        </div>

    </header>
    <section class="tabs">
        <div class="tab">
            <a routerLink="./howtojoin">How to join</a>
        </div>
        <div class="tab">
            <a routerLink="./howitworks">how it works</a>
        </div>
    </section>
    <section class="main-section">
        <router-outlet></router-outlet>
    </section>
</div>
