<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 signin">
            <h2 class="text-center">Sign Up</h2>
            <form [formGroup]="form" (ngSubmit)="registerArtist()">
                <div class="form-group">
                    <label>Name</label>
                    <input formControlName="name" type="text" class="form-control" placeholder="Enter Name">
                </div>
                <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['name'].errors.required">
                        Name is required.
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Enter Phone number">
                </div>
                <div *ngIf="form.controls['phoneNumber'].invalid && (form.controls['phoneNumber'].dirty || form.controls['phoneNumber'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['phoneNumber'].errors.required">
                        Phone Number is required.
                    </div>
                    <div *ngIf="form.controls['phoneNumber'].errors.pattern">
                        Enter a valid phone Number
                    </div>
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input formControlName="email" type="email" class="form-control" placeholder="Enter email">
                </div>
                <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['email'].errors.required">
                        Email is required.
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input formControlName="password" type="password" class="form-control" placeholder="Password">
                </div>
                <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['password'].errors.required">
                        Password is required.
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input formControlName="confirmpassword" type="password" class="form-control" placeholder="Confirm Password">
                </div>
                <div *ngIf="form.controls['confirmpassword'].invalid && (form.controls['confirmpassword'].dirty || form.controls['confirmpassword'].touched)" class="alert alert-danger">
                    <div *ngIf="form.controls['confirmpassword'].errors.required">
                        Password Confirmation is required.
                    </div>
                    <div *ngIf="form.controls['confirmpassword'].errors.required ||  form.errors?.mismatch">
                        Password did not match
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">I agree to <a href="#">Terms and Conditions</a></label>
                </div>
                <button type="submit" class="btn btn-block">Submit</button>
            </form>
            <div class="links">
                <p>Already have an account <a class="font-weight-bold" routerLink="login">Login</a></p>
            </div>
        </div>
        <div class="col-md-6  col-sm-12">
            <div class="well">
                <div class="right signin">
                    <div class="call-to-action">
                        <div class="call-to-action-text">
                            <h1>Distribute with NewWell</h1>
                            <strong>Get out there</strong>
                        </div>
                        <a class="btn mt-4">Learn How</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>