    $primary: #0f1011;
    $danger: #ff4136;
    $secondary: white;
    .container {
        margin-top: 5rem;
        padding-left: 0;
        padding-right: 0;
        background-image: url('../../../assets/images/microphone.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        .signin {
            color: $secondary;
        }
        form {
            background-color: lighten($primary, 10);
            padding: 1rem;
            opacity: 0.7;
        }
        .right {
            text-align: center;
            padding: 10rem;
        }
        .links {
            color: $secondary;
            a:hover {
                color: $danger;
                cursor: pointer;
            }
        }
        .btn {
            background: darken($primary, 20);
            border: 2px solid $danger;
        }
        .btn:hover {
            cursor: pointer;
        }
    }