$primary: #0f1011;
$danger: #ff4136;
$secondary: white;
.containerd {
  margin-top: 10vh;
  padding-left: 0;
  padding-right: 0;
  background-image: url("../../../assets/images/microphone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  .row {
    // border: 3px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .signin {
    color: $secondary;
  }
  form {
    -webkit-box-shadow: -5px 2px 62px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 2px 62px 8px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 2px 62px 8px rgba(0, 0, 0, 0.75);
    padding: 60px 40px;

    border-radius: 5px;
    background-color: $primary;

    opacity: 0.8;
    margin: 2rem 0;
  }
  .right {
    text-align: center;
    padding: 10rem;
  }
  .links {
    color: $secondary;
    a:hover {
      color: $danger;
      cursor: pointer;
    }
  }
  .btn {
    background: darken($primary, 20);
    border: 2px solid $danger;
    color: $secondary;
  }

  .btn:hover {
    cursor: pointer;
    background: $danger;
  }
}

.has-error {
  color: $danger;
  input {
    outline-color: $danger;
  }
  ul li {
    list-style: none;
  }
}

.has-success {
  color: darkgreen;
  outline-color: darkgreen;
  ul li {
    list-style: none;
  }
}
