$primary: #0f1011;
$danger: #ff4136;
$secondary: white;
.container-outer {
    display: flex;
    //background-color: #666;
    // background-blend-mode: screen;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 6rem;
    color: #fff;
}

.bg {
    background: url(../../../assets/images/microphone.jpg) no-repeat center center fixed;
    background-size: 100%;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.form-container {
    color: #fff;
    padding: 50px 60px;
    -webkit-box-shadow: -1px 4px 24px 12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 24px 12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 24px 12px rgba(0, 0, 0, 0.75);
}

.form-container input {
    background: transparent;
}

.form-container input[type=submit] {
    background: $danger;
}

.desc {
    text-align: center;
}

.desc ul li {
    padding: 1rem;
}

h4 {
    font-weight: 900;
    padding: 0.5rem;
}

a {
    cursor: pointer;
}