<div class="container">
    <div class="desc">
        <h4>Add New Release(Single)</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Releases</a></li>
                <li class="breadcrumb-item active" aria-current="page">Single</li>
            </ol>
        </nav>
    </div>
    <mat-horizontal-stepper style="color: black">
        <mat-step [stepControl]="singleUploadForm" label="Main Information">
            <form [formGroup]="singleUploadForm" (ngSubmit)="onSubmit()">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <input type="text" matInput formControlName="songTitle" placeholder="Song Title" required>
                                <mat-error *ngIf="!singleUploadForm.get('songTitle').valid && singleUploadForm.get('songTitle').touched">Song title is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <input type="text" matInput formControlName="artistName" placeholder="Artist Name" required>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <h5>Is this song composed by several artists?</h5>
                <mat-grid-list cols="1" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <div class="add-bottom-padding">
                                <mat-radio-group formControlName="hasSeveralArtists">
                                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                                    <mat-radio-button [value]="false" checked>No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div *ngIf="singleUploadForm.get('otherArtists')['controls'].value === true"></div>
                <h5>Add the other artist's names(ONE PER FIELD)</h5>
                <button type="button" class="btn btn-default" (click)="onAddOtherArtist()">Add Artist</button>
                <div formArrayName="otherArtists">
                    <mat-grid-list cols="2" rowHeight="100px" *ngFor="let otherArtistsControl of singleUploadForm.get('otherArtists')['controls']; let i = index">
                        <mat-grid-tile>
                            <div class="controls-container">
                                <mat-form-field floatLabel="always" appearance="fill">
                                    <mat-label>Artist's name</mat-label>
                                    <input type="text" [formControlName]="i" matInput placeholder="Add artist's name">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="controls-container">
                                <mat-form-field floatLabel="always" appearance="fill">
                                    <mat-label>Role</mat-label>
                                    <mat-select [formControlName]="i" matInput placeholder="Choose Role" required>
                                        <mat-option value="Featuring">Featuring</mat-option>
                                        <mat-option value="In Collaboration">In Collaboration</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <h5>Is this song previously released?</h5>
                <mat-grid-list cols="1" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <div class="add-bottom-padding">
                                <mat-radio-group formControlNameName="gender">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="2">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <h5>Is this song on a record label?</h5>
                <mat-grid-list cols="1" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <div class="add-bottom-padding">
                                <mat-radio-group formControlNameName="gender">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="2">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="button-row">
                    <button mat-button matStepperNext [disabled]="!singleUploadForm.valid" type="submit">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="uploadTrackForm" label="Upload Track">
            <form [formGroup]="uploadTrackForm">
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-select [formControlName]="genre" matInput placeholder="Choose Genre" required>
                                    <mat-option value="Gospel">Gospel</mat-option>
                                    <mat-option value="Hip Hop">Hip Hop</mat-option>
                                    <mat-option value="Reggae">Reggae</mat-option>
                                    <mat-option value="Rhumba">Rhumba</mat-option>
                                    <mat-option value="Rap">Rap</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!uploadTrackForm.get('genre').valid && uploadTrackForm.get('genre').touched">Song title is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <input type="text" matInput formControlName="lyricsLanguage" placeholder="Language of Lyrics" required>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <input type="text" matInput formControlName="uploadLyrics" placeholder="Upload Lyrics">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <h5>Upload Song Art/Cover</h5>
                <mat-grid-list cols="2" rowHeight="300px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <div>
                                <label id="imageFieldLabel" for="imageField">
                  <img [src]="imageFile || uploadPreviewUrl" height="200" width="200" />
                </label>
                                <div>
                                    <label for="imageField" style="cursor: pointer;" class="btn text-white ml-2">Click to upload</label>
                                    <input type="file" name="songCover" (change)="onImageSelected($event)" id="imageField" name="image">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': imageUploadValue + '%'}" attr.aria-valuenow="{{imageUploadProgress}}" aria-valuemin="0" aria-valuemax="100">
                                        {{imageUploadProgress}} Progress
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <h4>Please observe the following rules while uploading cover image</h4>
                            <ul>
                                <li>File format: PNG, GIF, BMP, TIF, JPG or JPEG</li>
                                <li>Minimum dimensions: 1400x1400 pixels. Recommended: 3000x3000 pixels.</li>
                                <li>Images may not be larger than 16 Mb.</li>
                                <li>The information on your cover art should match your album title and artist name.</li>
                                <li>You may not use a third-party logo or trademark without the express written permission from the trademark holder.</li>
                            </ul>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <h5>Upload Audio File</h5>
                <mat-grid-list cols="2" rowHeight="300px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <div>
                                <label id="imageFieldLabel" for="imageField">
                  <img [src]="audioFile || uploadAudioPreviewUrl" height="200px" width="200px" />
                </label>
                                <div>
                                    <label for="imageField" style="cursor: pointer;" class="btn text-white ml-2">Click to upload</label>
                                    <input type="file" name="songCover" (change)="onImageSelected($event)" id="imageField" name="image">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': imageUploadValue + '%'}" attr.aria-valuenow="{{imageUploadProgress}}" aria-valuemin="0" aria-valuemax="100">
                                        {{imageUploadProgress}} Progress
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <h4>Please observe the following rules while uploading cover image</h4>
                            <ul>
                                <li>File format: PNG, GIF, BMP, TIF, JPG or JPEG</li>
                                <li>Minimum dimensions: 1400x1400 pixels. Recommended: 3000x3000 pixels.</li>
                                <li>Images may not be larger than 16 Mb.</li>
                                <li>The information on your cover art should match your album title and artist name.</li>
                                <li>You may not use a third-party logo or trademark without the express written permission from the trademark holder.</li>
                            </ul>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="4" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <p>Song Title</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <p>Genre</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <p>Author</p>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <p>Audio Present</p>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="button-row">
                    <button mat-button matStepperNext [disabled]="!uploadTrackForm.valid" type="submit">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Publishing">
            <form [formGroup]="publishForm">
                <h5>Producer's Details</h5>
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <input type="text" formControlName="firstName" matInput placeholder="Enter first name">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <input type="text" formControlName="lastName" matInput placeholder="Enter last name">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <input type="text" formControlName="phoneNumber" matInput placeholder="Enter phone number">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="1" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <div class="add-bottom-padding">
                                <mat-card-content>
                                    <h5>Select where you want to distribute your music</h5>
                                    <mat-checkbox>Spotify</mat-checkbox>
                                    <mat-checkbox>Deezer</mat-checkbox>
                                    <mat-checkbox>Pandora</mat-checkbox>
                                    <mat-checkbox>Itunes</mat-checkbox>
                                    <mat-checkbox>Apple Music</mat-checkbox>
                                    <mat-checkbox>Amazon Music</mat-checkbox>
                                    <mat-checkbox>Tidal</mat-checkbox>
                                    <mat-checkbox>JamboTunes</mat-checkbox>
                                    <mat-checkbox>Other</mat-checkbox>
                                </mat-card-content>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="button-row">
                    <button mat-button matStepperNext [disabled]="!publishForm.valid" type="submit">Submit</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
    <!-- <div class="container">
        <form [formGroup]="uploadForm" *ngIf="category === 'song'">
            <div class="form-group">
                <label>Song Title</label>
                <input type="text" formControlName="title" class="form-control" placeholder="Enter song title...">
            </div>
            <div class="form-group">
                <label>Genre</label>
                <select formControlName="genre" class="form-control">
          <option>Select Genre</option>
          <option>Gospel</option>
          <option>Hip Hop</option>
          <option>Reggae</option>
          <option>Rhumba</option>
          <option>Rap</option>
        </select>
            </div>
            <div class="form-group">
                <label>Song Cover</label>
                <input type="file" name="songCover" (change)="onImageSelected($event)" class="form-control-file">
                <div *ngIf="imageUploadValue" class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': imageUploadValue + '%'}" attr.aria-valuenow="{{imageUploadProgress}}" aria-valuemin="0" aria-valuemax="100">{{imageUploadProgress}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Upload Song</label>
                <input type="file" name="song" (change)="onAudioSelected($event)" class="form-control-file">
                <div *ngIf="audioUploadValue" class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': audioUploadValue + '%'}" attr.aria-valuenow="{{audioUploadProgress}}" aria-valuemin="0" aria-valuemax="100">{{audioUploadProgress}}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onUploadSongFile()"><i class="fa fa-send-o"
          aria-hidden="true"></i>
        Submit</button>&nbsp;
            <button type="button" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i>
        Cancel</button>
        </form>
        <form *ngIf="category === 'album'">
            <div class="form-group">
                <label for="exampleFormControlInput1">Album Title</label>
                <input type="email" class="form-control" placeholder="Enter album title...">
            </div>
            <div class="form-group">
                <label>Genre</label>
                <select class="form-control">
          <option>Select Genre</option>
          <option>Gospel</option>
          <option>Hip Hop</option>
          <option>Reggae</option>
          <option>Rhumba</option>
          <option>Rap</option>
        </select>
            </div>
            <div class="form-group">
                <label>Album Cover</label>
                <input type="file" class="form-control-file"> 
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
            <div class="form-group">
                <label>Upload Album</label>
                <input type="file" class="form-control-file">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-send-o" aria-hidden="true"></i>
        Submit</button>&nbsp;
            <button type="button" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i>
        Cancel</button>
        </form>
        <section>
            <h3>Attachments</h3>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" *ngIf="imageFile">
                        <h4>Image</h4>
                        <img class="card-img" [src]="imageFile" alt="Artist's Image">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" *ngIf="audioFile">
                    <div>
                        <h4>Audio File</h4>
                        <audio controls>
              <source [src]="audioFile" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> -->