$primary: #0f1011;
$danger: #ff0039;
$danger2: #ff4136;
$secondary: white;
.container {
    padding-top: 2rem;
}

.desc {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 1rem;
    nav {
        width: 300px;
    }
    h4 {
        padding: 0;
    }
}

@media (max-width: 709px) {
    .desc {
        nav {
            display: none;
        }
    }
}

.nav {
    background-color: $primary;
    color: $secondary;
    .nav-item {
        width: 25%;
        .nav-link {
            border-radius: 0;
        }
        a {
            color: darken($secondary, 20);
            span {
                i {
                    color: darken($primary, 10);
                    span {
                        color: $secondary;
                    }
                }
            }
        }
        a:hover {
            color: $secondary;
            font-weight: bold;
        }
    }
}

.nav-pills {
    box-sizing: border-box;
    .nav-link.active {
        background-color: transparent;
        color: $secondary;
        font-weight: bold;
        border-bottom: 2px solid $danger;
    }
}

form {
    margin: 1rem;
    #imageFieldLabel {
        img {
            padding-left: 1.5rem;
        }
    }
    .btnImg {
        color: $secondary !important;
    }
    #imageFieldLabel:hover {
        cursor: pointer;
    }
    #imageField {
        width: 220px;
        display: none;
    }
    // input,
    // textarea,
    // select {
    //     border-radius: 0;
    //     background: #181818;
    //     color: #555;
    //     border: 1px solid #555;
    // }
}

button {
    background-color: $danger2;
    border: 1px solid #555;
    border-radius: 0;
}

.ml-50 {
    margin-left: 40%;
}

.card h4 {
    color: $primary;
}

@media (max-width: 747px) {
    .nav {
        .nav-item {
            font-size: 0.8rem;
            padding-left: 0.2rem;
        }
    }
    .desc {
        button {
            h1 {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 648px) {
    .nav {
        .nav-item {
            width: 100%;
            font-size: 1.2rem;
            text-align: center;
        }
    }
    .desc {
        button {
            h1 {
                font-size: 1rem;
            }
        }
    }
}

.controls-container {
    width: 100%;
    margin: 10px;
    * {
        width: 100%;
    }
}

.add-bottom-padding {
    padding-bottom: 10px;
    mat-card-content {
        mat-checkbox {
            margin-left: 10px;
        }
    }
}