<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand logo" routerLink="/">
        <img src="assets/img/logo.png" alt="Newwell Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTarget" aria-controls="navbarTarget" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-bars fa-2x"></i></span>
  </button>

    <div class="collapse navbar-collapse " id="navbarTarget">
        <ul *ngIf="authService.loggedIn; else loggedOut" class="navbar-nav ml-auto mr-5">
            <li class="nav-item">
                <a class="nav-link nav-link-hover music" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="/">Newwell
          Music</a>
            </li>
            <li class="nav-item" id="artists">
                <a class="nav-link nav-link-hover artists" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="artists">Artists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-hover dashboard" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-hover publishing" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="marketing">Marketing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-hover publishing" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="publishing">Publishing</a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-link-hover pricing" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-hover login" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item dropdown" data-toggle="tooltip" data-html="true" title="Profile">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img *ngIf="profilePic" [src]="profilePic" alt="User Profile Picture" class="img-circle img-responsive">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/artist/{{id}}">Profile</a>
                    <a class="dropdown-item" routerLink="/artist/{{id}}/edit">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
        <ng-template #loggedOut>
            <ul class="navbar-nav ml-auto text-left ">
                <li class="nav-item"><a class="nav-link nav-link-hover music" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="/">NewWell Music</a></li>
                <li class="nav-item"><a class="nav-link nav-link-hover artists" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="artists">Artists</a></li>
                <li class="nav-item"><a class="nav-link nav-link-hover publishing" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="publishing">Publishing</a></li>
                <li class="nav-item"><a class="nav-link nav-link-hover pricing" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="pricing">Pricing</a></li>
                <li class="nav-item"><a class="nav-link nav-link-hover login" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="login">Login</a></li>
                <li class="nav-item"><a class="nav-link nav-link-hover signup" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active' routerLink="artist-signup">SignUp</a></li>
            </ul>
        </ng-template>
    </div>
</nav>
