<div class="row artist-profile">
  <div class="col-md-4  profile text-center">
    <div class="">
      <a hef=""><img src="../../../assets/img/jumbo.jpg" alt="merker" class="hidden-xs hidden-sm rounded-circle">
      </a>

      <hr>

      <h4 class="text-center">Wasubu</h4>

      <h5 class="text-center">4 Albums</h5>

      <div class="action text-center">
        <a href=""><i class="fa fa-thumbs-up"></i></a>
        <a href=""><i class="fa fa-comments"></i></a>
      </div>

      <div class="social text-center">
        <h4 class="text-center">Connections</h4>
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-whatsapp"></i></a>
        <a href=""><i class="fa fa-soundcloud"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
      </div>


    </div>

  </div>
  <div class="col-md-8 profile">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#home" class="nav-link active" data-toggle="tab">New Release</a>
      </li>
      <li class="nav-item">
        <a href="#profile" class="nav-link" data-toggle="tab">Top Songs</a>
      </li>
      <li class="nav-item">
        <a href="#messages" class="nav-link" data-toggle="tab">Albums</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="home">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img src="../../../assets/img/jumbo.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.</p>
                <div class="row options">
                  <div class="col-5">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                  </div>
                  <div class="col-4">
                    <a href=""><i class="fa fa-thumbs-up"></i></a>
                    <a href=""><i class="fa fa-comments"></i></a>

                  </div>


                </div>

              </div>
            </div>
            <div class="col-md-3 actionbtn text-center">

              <a href="" class="btn btn-danger btn-md">Listen</a>


            </div>
          </div>
        </div>


        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img src="../../../assets/img/jumbo.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.</p>
                <div class="row options">
                  <div class="col-5">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                  </div>
                  <div class="col-4">
                    <a href=""><i class="fa fa-thumbs-up"></i></a>
                    <a href=""><i class="fa fa-comments"></i></a>

                  </div>


                </div>

              </div>
            </div>
            <div class="col-md-3 actionbtn text-center">

              <a href="" class="btn btn-danger btn-md">Listen</a>


            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="profile">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img src="../../../assets/img/jumbo.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.</p>
                <div class="row options">
                  <div class="col-5">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                  </div>
                  <div class="col-4">
                    <a href=""><i class="fa fa-thumbs-up"></i></a>
                    <a href=""><i class="fa fa-comments"></i></a>

                  </div>


                </div>

              </div>
            </div>
            <div class="col-md-3 actionbtn text-center">

              <a href="" class="btn btn-danger btn-md">Listen</a>


            </div>
          </div>
        </div>



        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img src="../../../assets/img/jumbo.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.</p>
                <div class="row options">
                  <div class="col-5">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                  </div>
                  <div class="col-4">
                    <a href=""><i class="fa fa-thumbs-up"></i></a>
                    <a href=""><i class="fa fa-comments"></i></a>

                  </div>


                </div>

              </div>
            </div>
            <div class="col-md-3 actionbtn text-center">

              <a href="" class="btn btn-danger btn-md">Listen</a>


            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="messages">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img src="../../../assets/img/jumbo.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.</p>
                <div class="row options">
                  <div class="col-5">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                  </div>
                  <div class="col-6">
                    <a href=""><i class="fa fa-thumbs-up"></i></a>
                    <a href=""><i class="fa fa-comments"></i></a>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img src="../../../assets/img/jumbo.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content.</p>
                <div class="row options">
                  <div class="col-5">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                  </div>
                  <div class="col-6">
                    <a href=""><i class="fa fa-thumbs-up"></i></a>
                    <a href=""><i class="fa fa-comments"></i></a>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
