// $primary: #212222;
$primary: #111;
$danger: #ff4136;
$secondary: white;
.outer {
    margin-top: 4rem;
}

.banner {
    width: 100%;
    height: 50%;
    background: green;
    .cover-page {
        display: flex;
        flex-flow: row-reverse;
        width: 100%;
        min-height: 405px;
        background: blue;
        position: relative;
        .overlay {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            color: $secondary;
            background: linear-gradient(to right, rgb(0, 0, 0) 60%, rgba(255, 255, 255, 0.0));
            p {
                color: $secondary;
                width: 60%;
            }
        }
        .bio {
            width: 60%;
            h3 {
                margin: 0;
                padding: 0;
            }
        }
        .cover-image {
            width: 40%;
            height: 100%;
            background: yellow;
            img {
                width: 100%;
                min-height: 405px;
                max-height: 405px;
                object-fit: cover;
            }
        }
    }
    .stats {
        display: flex;
        flex-direction: row-reverse;
        background-color: lightblue;
        padding: 0.25rem 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .stat {
            margin-left: 8rem;
            margin-right: 1rem;
            text-align: center;
            padding-top: 0.2rem;
            h6 {
                margin: 0;
                padding: 0;
            }
            p {
                margin: 0;
                padding: 0;
            }
        }
    }
    .event-details {
        display: flex;
        color: $secondary;
        position: absolute;
        top: 150px;
        left: 260px;
        z-index: 2;
        background: #444;
        .event-image {
            width: 200px;
            height: 250px;
            margin-right: 0.5rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .profile-info {
            h3 {
                margin: 0;
                font-weight: 600;
                color: $danger;
            }
            p {
                margin: 0;
            }
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .event-details {
            left: 30px;
        }
    }
    @media only screen and (max-width: 767px) {
        .event-details {
            left: 15px;
            .event-image {
                width: 110px;
            }
        }
    }
}

.main {
    color: #fff;
    // background: blue;
    .row {
        margin: 0;
        .col-md-7 {
            padding: 0;
            h2 {
                background: #444;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 1.5rem;
                font-size: 1.3rem;
                font-weight: bolder;
            }
        }
        .col-md-4 {
            padding: 0;
            h2 {
                background: #444;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 1.5rem;
                font-size: 1.3rem;
                font-weight: bolder;
            }
            .card {
                margin: 0.5rem;
            }
        }
        .col-md-12 {
            .song-row {
                display: flex;
                justify-content: space-between;
                background: #111;
                margin: 0.5rem;
                padding: 0.5rem;
                border-radius: 5px;
                img {
                    width: 4rem;
                    height: 4rem;
                    object-fit: contain;
                }
                a {
                    cursor: pointer;
                }
            }
            .comment-row {
                padding: 0.5rem;
            }
            @media only screen and (max-width: 767px) {
                h5 {
                    font-size: 0.8rem;
                }
                .song-row,
                .comment-row,
                .contact-info a {
                    font-size: 0.6rem;
                }
            }
        }
    }
}

.grey {
    background: #222;
    border-radius: 10px;
}

.blue {
    color: blue;
}

.orange {
    color: orangered;
    margin: 0;
    padding: 0.5rem;
}