<div class="outer">
    <div class="banner">
        <div class="cover-page">
            <div class="overlay">
                <h3>{{name}}</h3>
                <p>Genre: {{genre}}</p>
            </div>
            <div class="cover-image">
                <img class="img-fluid" [src]="profilePic" alt="Artist's Image">
            </div>
            <div class="bio">
                <h3>{{name}}</h3>
                <p>{{genre}}</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, molestias reiciendis possimus repellendus necessitatibus molestiae.</p>
            </div>
        </div>
        <div class="stats">
            <div class="stat">
                <h6 class="font-weight-bold">69</h6>
                <p>Followers</p>
            </div>
            <div class="stat">
                <h6 class="font-weight-bold">5,659</h6>
                <p>Likes</p>
            </div>
            <div class="stat">
                <h6 class="font-weight-bold">120</h6>
                <p>Albums</p>
            </div>
        </div>
        <div class="event-details">
            <div class="event-image">
                <img [src]="profilePic" class="img-fluid" alt="Event Image">
            </div>
            <div class="event-info">
                <h3>Event: {{event.title}}</h3>
                <p>Location {{event.location}}</p>
                <small>Date: {{event.date}}</small>
            </div>
        </div>
    </div>
    <section class="main container-fluid">
        <div class="row">
            <div class="col-md-7 grey m-2">
                <!-- <div class="col-md-12">
                    <h3>My daily message</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, illo voluptate nulla officia saepe doloremque ducimus, pariatur provident odit mollitia itaque nemo vero sed voluptatibus sunt voluptas id nam at?
                    </p>
                </div> -->
                <h2>Popular Songs</h2>
                <div class="col-md-12 p-0">
                    <div>
                        <div class="song-row" *ngFor="let song of songs">
                            <div>
                                <a><img [src]="song.albumArt" alt="Song Cover Image"></a>
                            </div>
                            <div>
                                <h5>{{song.title}}</h5>
                                <p>{{song.genre}}</p>
                            </div>
                            <div>
                                <p><small><strong>{{likes}}</strong> Likes</small></p>
                                <small class="blue"><a (click)="addLikes()"><i class="fa fa-thumbs-up"></i> Like</a></small>
                            </div>
                            <div>
                                <p><small><strong>6501</strong> Views</small></p>
                                <small class="orange"><a><i class="fa fa-share"></i> Share</a></small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="isComment1" class="comment-row">
                            <p>Coments: User Comments will appear here</p>
                            <textarea name="" id="" cols="60" rows="3">Type your comment here...</textarea>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="isComment1" class="comment-row">
                            <p>Coments: User Comments will appear here</p>
                            <textarea name="" id="" cols="60" rows="3">Type your comment here...</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 dark grey ml-5 mt-2 ml-2 mb-2">
                <h2>Popular Albums</h2>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>