// $primary: #212222;
$primary: #111;
$danger: #ff4136;
$secondary: white;
.outer {
    margin-top: 4rem;
}

.banner {
    width: 100%;
    height: 300px;
    // background: white;
    padding: 0 .5rem .5rem .5rem;
    position: relative;
    box-sizing: border-box;
    .cover-page {
        display: flex;
        flex-flow: row-reverse;
        width: 100%;
        position: relative;
        .overlay {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0.0));
        }
        .cover-image {
            width: 50%;
            height: 100%;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 230px;
        }
        .bio {
            color: $secondary;
            width: 50%;
            z-index: 1;
            padding: 1rem;
            h3 {
                color: $danger;
            }
        }
    }
    .stats {
        display: flex;
        flex-direction: row-reverse;
        background-color: lightblue;
        padding: 0.25rem 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .stat {
            margin-left: 8rem;
            margin-right: 1rem;
            text-align: center;
            padding-top: 0.2rem;
            h6 {
                margin: 0;
                padding: 0;
            }
            p {
                margin: 0;
                padding: 0;
            }
        }
    }
    .profile-details {
        display: flex;
        color: $secondary;
        position: absolute;
        bottom: 0;
        left: 5vh;
        z-index: 2;
        .profile-image {
            width: 200px;
            height: 200px;
            margin-right: 0.5rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        .profile-info {
            h3 {
                margin: 0;
                font-weight: 600;
                color: $danger;
            }
            p {
                margin: 0;
            }
        }
    }
}

.main {
    color: #fff;
    // background: blue;
    .row {
        margin: 0;
        .col-md-7 {
            padding: 0;
            h2 {
                background: #444;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 1.5rem;
                font-size: 1.3rem;
                font-weight: bolder;
            }
        }
        .col-md-4 {
            padding: 0;
            h2 {
                background: #444;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 1.5rem;
                font-size: 1.3rem;
                font-weight: bolder;
            }
            .card {
                margin: 0.5rem;
            }
        }
        .col-md-12 {
            .song-row {
                display: flex;
                justify-content: space-between;
                background: #111;
                margin: 0.5rem;
                padding: 0.5rem;
                border-radius: 5px;
                img {
                    width: 4rem;
                    height: 4rem;
                    object-fit: contain;
                }
                a {
                    cursor: pointer;
                }
            }
            .comment-row {
                padding: 0.5rem;
            }
        }
    }
}

.grey {
    background: #222;
    border-radius: 10px;
}

.blue {
    color: blue;
}

.orange {
    color: orangered;
    margin: 0;
    padding: 0.5rem;
}