<div class="container">
    <div>
        <h4>SSU > Edit Profile Details</h4>
    </div>
    <mat-horizontal-stepper style="color: black" linear>
        <mat-step [stepControl]="mainInfoForm" label="Main Information">
            <form [formGroup]="mainInfoForm" (ngSubmit)="onMainInfoSubmit()">
                <mat-grid-list cols="3" rowHeight="300px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <div id="img">
                                <label id="imageFieldLabel" for="imageField">
                  <img class="img-fluid mt-4" [src]="imageFile || previewUrl" />
                </label>
                                <div>
                                    <label for="imageField" style="cursor: pointer;" class="btn ml-2">Edit Image</label>
                                    <input type="file" id="imageField" name="image" (change)="onImageSelected($event)">
                                </div>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Account Type">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput formControlName="firstName" placeholder="First Name" required>
                                <mat-error *ngIf="!mainInfoForm.get('firstName').valid && mainInfoForm.get('firstName').touched">First name is required</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput formControlName="surname" placeholder="Surname" required>
                                <mat-error *ngIf="!mainInfoForm.get('surname').valid && mainInfoForm.get('surname').touched">Surname is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <input type="text" [value]="userProfile.status" matInput placeholder="Account Status">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" [value]="userProfile.registrationDate" matInput placeholder="Date Joined">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Last Updated">
                            </mat-form-field>
                            <!-- <div class="add-bottom-padding">
                                <mat-radio-group formControlNameName="gender">
                                    <mat-radio-button value="1">Male</mat-radio-button>
                                    <mat-radio-button value="2">Female</mat-radio-button>
                                    <mat-radio-button value="3">Other</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <mat-form-field>
                                <mat-select placeholder="Department">
                                    <mat-option>Department 1</mat-option>
                                    <mat-option>Department 1</mat-option>
                                    <mat-option>Department 1</mat-option>
                                    <mat-option>Department 1</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="button-row">
                                <button mat-raised-button color="primary" type="submit">Submit</button>
                                <button mat-raised-button color="warn">Clear</button>
                            </div> -->
                        </div>

                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-select formControlName="country" matInput placeholder="Choose Country" required>
                                    <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!mainInfoForm.get('country').valid && mainInfoForm.get('country').touched">Country is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <input type="text" formControlName="phoneNumber" matInput placeholder="Phone Number" required>
                                <mat-error *ngIf="!mainInfoForm.get('phoneNumber').valid && mainInfoForm.get('phoneNumber').touched">
                                    Phone number is required</mat-error>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Alternative Phone Number">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <h5>Email Addresses:</h5>
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field floatLabel="always">
                                <mat-label>General Communication Email</mat-label>
                                <input type="email" matInput formControlName="emailAddress" placeholder="Email Address" required>
                                <mat-error *ngIf="!mainInfoForm.get('emailAddress').valid && mainInfoForm.get('emailAddress').touched">
                                    Email is required</mat-error>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field floatLabel="always">
                                <mat-label>Statements/Reports</mat-label>
                                <input type="email" matInput placeholder="Email Address">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field floatLabel="always">
                                <mat-label>Legal Notices</mat-label>
                                <input type="email" matInput placeholder="Alternative Email Address">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <h5>Next of kin details:</h5>
                <div formGroupName="kinInfoData">
                    <mat-grid-list cols="3" rowHeight="100px">
                        <mat-grid-tile>
                            <div class="controls-container">
                                <mat-form-field>
                                    <input type="text" formControlName="kinFirstName" matInput placeholder="First Name" required>
                                    <mat-error *ngIf="!mainInfoForm.get('kinInfoData.kinFirstName').valid && mainInfoForm.get('kinInfoData.kinFirstName').touched">
                                        Kin's first name is required</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="controls-container">
                                <mat-form-field>
                                    <input type="text" formControlName="kinSurname" matInput placeholder="Surname" required>
                                    <mat-error *ngIf="!mainInfoForm.get('kinInfoData.kinSurname').valid && mainInfoForm.get('kinInfoData.kinSurname').touched">
                                        Kin's surname is required</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="controls-container">
                                <mat-form-field>
                                    <input type="text" formControlName="kinRelationship" matInput placeholder="Relationship" required>
                                    <mat-error *ngIf="!mainInfoForm.get('kinInfoData.kinRelationship').valid && mainInfoForm.get('kinInfoData.kinRelationship').touched">
                                        Kin's relationship is required</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="4" rowHeight="100px" style="margin-left: 3rem">
                        <mat-grid-tile colspan="1">
                            <div class="controls-container">
                                <mat-form-field>
                                    <input type="text" matInput formControlName="kinPhoneNumber" placeholder="Phone Number" required>
                                    <mat-error *ngIf="!mainInfoForm.get('kinInfoData.kinPhoneNumber').valid && mainInfoForm.get('kinInfoData.kinPhoneNumber').touched">
                                        Kin's phone number is required</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="3">
                            <div class="controls-container">
                                <p><span><i class="fa fa-warning"></i></span> This information is only available to you.</p>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div class="button-row">
                    <button mat-button matStepperNext [disabled]="!mainInfoForm.valid" type="submit">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Social Media">
            <form>
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-label>Facebook</mat-label>
                                <input type="text" matInput placeholder="Facebook Link" required>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-label>Instagram</mat-label>
                                <input type="text" matInput placeholder="Instagram Link">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-label>Twitter</mat-label>
                                <input type="text" matInput placeholder="Twitter Link">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-label>YouTube</mat-label>
                                <input type="text" matInput placeholder="YouTube Link" required>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-label>LinkedIn</mat-label>
                                <input type="text" matInput placeholder="LinkedIn Link">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-label>Other</mat-label>
                                <input type="text" matInput placeholder="Other Link">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="button-row">
                    <button mat-raised-button matStepperPrevious color="primary" type="button">Back</button>
                    <button mat-raised-button matStepperNext color="primary" type="submit">Save and continue</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Bio">
            <form>
                <div class="controls-container">
                    <mat-form-field>
                        <mat-label>About {{userProfile.name}}</mat-label>
                        <textarea cols="30" rows="10" matInput placeholder="Enter Biography" required></textarea>
                    </mat-form-field>
                </div>
                <div class="button-row">
                    <button mat-raised-button matStepperPrevious color="primary" type="button">Back</button>
                    <button mat-raised-button matStepperNext color="primary" type="submit">Save and continue</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Payment Details">
            <form>
                <h5>Payment Information:</h5>
                <mat-grid-list cols="4" rowHeight="100px">
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-label>Postal Address</mat-label>
                                <input type="text" matInput placeholder="Address" required>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-label>City</mat-label>
                                <input type="text" matInput placeholder="City" required>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-label>State/Province</mat-label>
                                <input type="text" matInput placeholder="State/Province">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controls-container">
                            <mat-form-field>
                                <mat-label>Postal Code</mat-label>
                                <input type="text" matInput placeholder="Postal Code">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="button-row">
                    <button mat-raised-button matStepperPrevious color="primary" type="button">Back</button>
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>