<div class="holder">


  <div *ngIf="isLoading" class="spinner"></div>
  <form *ngIf="isCorrectToken && !isLoading" (ngSubmit)="resetPassword()">
    <h1>Reset Your Password</h1>
    <div class="form-group">
      <label for="exampleInputEmail1">New Password</label>
      <input name="password" [(ngModel)]="newPassword" type="text" class="form-control" id="exampleInputEmail1"
        placeholder="Enter password">

    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>

  <div *ngIf="!isCorrectToken && !isLoading">
    <h1>The token passed Is incorrect</h1>
  </div>

</div>