@import '../../../sass/base';
.outer-container {
    background: black;
    // height: 300px;
    padding-bottom: 8rem;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background: lighten($primary, 6);
        p {
            font-size: 1.7rem;
        }
    }
    .whiteContent {
        background: white;
    }
    .white-text {
        color: white;
        background: black;
    }
    .albums {
        background: black;
    }
    .songs {
        background: white;
    }
    .m-l {
        margin-left: 10rem;
        color: red;
    }
    .tabWidth {
        width: 160px;
    }
}