<div class="outer-container">
    <!--Header-->
    <header>
        <div>
            <p>My Music</p>
        </div>
        <div class="header-links">
            <a class="btn-link" routerLink="music-upload/single" role="button">Upload New Single</a>
            <a class="btn-link" routerLink="music-upload/single" role="button">Upload New Album</a>
        </div>
        <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{link.label}}
      </a>
        </nav>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <!--Tab-->




</div>