<!-- <div class="outer">
    <header>
        <h1 class="text-uppercase display-5 text-light">Follow your favorite music artists on newwell</h1>
    </header>
    <div class="page-layout">
        <section>
            <h2 class="header text-capitalize text-center">Gospel artists</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        <div class="card-body card-img-overlay">
                            <h5 class="card-title font-weight-bold">John D'Mathew</h5>
                        </div>
                        <div class="description">
                            <h3 class="font-weight-bold text-center">John D'Mathew</h3>
                            <small class="font-weight-bold font-italic">Gospel Genre</small>
                            <p>A top gospel musician with over 50 albums and massive fan base around the world</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img" src="../../../assets/images/artists/artist1.jpg" alt="Artist's Image">
                        <div class="card-body card-img-overlay">
                            <h5 class="card-title font-weight-bold">Msoo</h5>
                        </div>
                        <div class="description">
                            <h3 class="font-weight-bold text-center">Msoo</h3>
                            <small class="font-weight-bold font-italic">Gospel Genre</small>
                            <p>A top gospel musician with over 50 albums and massive fan base around the world</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        <div class="card-body card-img-overlay">
                            <h5 class="card-title font-weight-bold">John D'Mathew</h5>
                        </div>
                        <div class="description">
                            <h3 class="font-weight-bold text-center">John D'Mathew</h3>
                            <small class="font-weight-bold font-italic">Gospel Genre</small>
                            <p>A top gospel musician with over 50 albums and massive fan base around the world</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img" src="../../../assets/images/artists/artist4.jpg" alt="Artist's Image">
                        <div class="card-body card-img-overlay">
                            <h5 class="card-title font-weight-bold">John D'Mathew</h5>
                        </div>
                        <div class="description">
                            <h3 class="font-weight-bold text-center">John D'Mathew</h3>
                            <small class="font-weight-bold font-italic">Gospel Genre</small>
                            <p>A top gospel musician with over 50 albums and massive fan base around the world</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2 class="header text-capitalize text-center">Hip Hop artists</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        <div class="card-body card-img-overlay">
                            <h5 class="card-title font-weight-bold">John D'Mathew</h5>
                        </div>
                        <div class="description">
                            <h3 class="font-weight-bold text-center">John D'Mathew</h3>
                            <small class="font-weight-bold font-italic">Gospel Genre</small>
                            <p>A top gospel musician with over 50 albums and massive fan base around the world</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img" src="../../../assets/images/artists/artist1.jpg" alt="Artist's Image">
                        <div class="card-body card-img-overlay">
                            <h5 class="card-title font-weight-bold">John D'Mathew</h5>
                        </div>
                        <div class="description">
                            <h3 class="font-weight-bold text-center">John D'Mathew</h3>
                            <small class="font-weight-bold font-italic">Gospel Genre</small>
                            <p>A top gospel musician with over 50 albums and massive fan base around the world</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img" src="../../../assets/images/artists/artist.jpg" alt="Artist's Image">
                        <div class="card-body card-img-overlay">
                            <h5 class="card-title font-weight-bold">John D'Mathew</h5>
                        </div>
                        <div class="description">
                            <h3 class="font-weight-bold text-center">John D'Mathew</h3>
                            <small class="font-weight-bold font-italic">Gospel Genre</small>
                            <p>A top gospel musician with over 50 albums and massive fan base around the world</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <img class="card-img" src="../../../assets/images/artists/artist4.jpg" alt="Artist's Image">
                        <div class="card-body card-img-overlay">
                            <h5 class="card-title font-weight-bold">John D'Mathew</h5>
                        </div>
                        <div class="description">
                            <h3 class="font-weight-bold text-center">John D'Mathew</h3>
                            <small class="font-weight-bold font-italic">Gospel Genre</small>
                            <p>A top gospel musician with over 50 albums and massive fan base around the world</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> -->
<div class="outer-container">
    <section class="header">
        <h2>Newwell artist community</h2>
        <p>Newwell has partnered with independent, ambitious artists blazing new trails with their music on the global stage
        </p>
    </section>
    <section class="main">
        <div class="artists-row">
            <div class="artist-card" *ngFor="let artist of artists">
                <a href="{{artist.link}}" target="_blank">
                    <img [src]="artist.profilePic" alt="Artist's Image">
                    <div class="artist-card-overlay">
                    </div>
                </a>
                <div class="title">
                    <a [href]="artist.link" target="_blank">
                        <p>{{artist.stageName}}</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="main-section">
        <div class="artists-row">
            <div class="artists-card" *ngFor="let artist of artists">
                <img class="card-img" [src]="artist.profilePic" alt="Artist's Image">
                <p>Name</p>
            </div>
        </div>
    </section> -->
</div>
