$primary: #0f1011;
$danger: #ff4136;
$secondary: white;
header {
    height: 20vh;
    width: 100vw;
    border: 2px solid black;
    background-image: url(../../../assets/images/classical-music.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.outer {
    background-color: $primary;
    margin-top: 6rem;
}

.page-layout {
    margin-left: 5%;
    margin-right: 5%;
    .header {
        color: $danger;
    }
}

.col-lg-3,
.col-md-4,
.col-sm-12 {
    margin: 0;
    padding: 0;
}

.card {
    border: none;
    box-sizing: border-box;
    transition: transform .5s;
    img {
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
    .card-img-overlay {
        padding-top: 55%;
        color: $secondary;
        visibility: visible;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.767) 50%, transparent);
        opacity: 1;
    }
    .description {
        position: absolute;
        height: 100%;
        width: 100%;
        color: $secondary;
        visibility: hidden;
        padding: 2rem;
    }
    .description small {
        color: $danger;
        font-weight: 900;
    }
}

.card:hover {
    border: 5px solid #f3a953;
    border-radius: 0;
    transform: scale(1.1);
    cursor: pointer;
    z-index: 3;
    .description {
        visibility: visible;
    }
    .card-img-overlay {
        visibility: hidden;
    }
}