<section id="">
    <div class="hero">
        <img [src]="landingPageContent.imageUrl" alt="Landing page picture" id="heroImage">
        <h1 class="hero-title">{{landingPageContent.title}}</h1>
        <p class="hero-info">{{landingPageContent.description}}</p>
        <p class="lead">
            <a class="btn btn-lg" [href]="landingPageContent.ctaLink" role="button">{{landingPageContent.ctaText}}</a>
        </p>
    </div>
</section>


<section class="text-center">
    <!-- <div id="brands">
        <div class="brand"><img src="../../assets/img/carousel/spotify.svg"></div>
        <div class="brand"><img src="../../assets/img/carousel/itunes.png"></div>
        <div class="brand"><img src="../../assets/img/carousel/deezer.svg"></div>
        <div class="brand"><img src="../../assets/img/carousel/amazon.svg"></div>
        <div class="brand"><img src="../../assets/img/carousel/pandora.svg"></div>
        <div class="brand"><img src="../../assets/img/carousel/apple-music.svg"></div>
        <div class="brand"><img src="../../assets/img/carousel/tidal.svg"></div>
    </div> -->
</section>

<!-- <section class="card-section">
  <h1>Top Music</h1>
  <div class="cards">
    <div class="cards-item">
      <div class="card">
        <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title date">21 May 2019</h5>
          <p class="card-text songtitle">Some quick example text to build </p>
          <p class="artist"><small class="by">By</small> John D'Mathew</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="cards-item">
      <div class="card">
        <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title date">21 May 2019</h5>
          <p class="card-text songtitle">Some quick example text to build </p>
          <p class="artist"><small class="by">By</small> John D'Mathew</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="cards-item">
      <div class="card">
        <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title date">21 May 2019</h5>
          <p class="card-text songtitle">Some quick example text to build </p>
          <p class="artist"><small class="by">By</small> John D'Mathew</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="cards-item">
      <div class="card">
        <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title date">21 May 2019</h5>
          <p class="card-text songtitle">Some quick example text to build </p>
          <p class="artist"><small class="by">By</small> John D'Mathew</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="cards-item">
      <div class="card">
        <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title date">21 May 2019</h5>
          <p class="card-text songtitle">Some quick example text to build </p>
          <p class="artist"><small class="by">By</small> John D'Mathew</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="cards-item">
      <div class="card">
        <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title date">21 May 2019</h5>
          <p class="card-text songtitle">Some quick example text to build </p>
          <p class="artist"><small class="by">By</small> John D'Mathew</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="cards-item">
      <div class="card">
        <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title date">21 May 2019</h5>
          <p class="card-text songtitle">Some quick example text to build </p>
          <p class="artist"><small class="by">By</small> John D'Mathew</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="cards-item">
      <div class="card">
        <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title date">21 May 2019</h5>
          <p class="card-text songtitle">Some quick example text to build </p>
          <p class="artist"><small class="by">By</small> John D'Mathew</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>-->

<!-- <section class="card-section">
    <h1>Top Albums</h1>
    <div class="cards" [flickity]="options">
        <div class="cards-item" [flickityChild]>
            <div class="card">
                <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title date">21 May 2019</h5>
                    <p class="card-text songtitle">Some quick example text to build </p>
                    <p class="artist"><small class="by">By</small> John D'Mathew</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="cards-item" [flickityChild]>
            <div class="card">
                <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title date">21 May 2019</h5>
                    <p class="card-text songtitle">Some quick example text to build </p>
                    <p class="artist"><small class="by">By</small> John D'Mathew</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="cards-item" [flickityChild]>
            <div class="card">
                <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title date">21 May 2019</h5>
                    <p class="card-text songtitle">Some quick example text to build </p>
                    <p class="artist"><small class="by">By</small> John D'Mathew</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="cards-item" [flickityChild]>
            <div class="card">
                <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title date">21 May 2019</h5>
                    <p class="card-text songtitle">Some quick example text to build </p>
                    <p class="artist"><small class="by">By</small> John D'Mathew</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="cards-item" [flickityChild]>
            <div class="card">
                <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title date">21 May 2019</h5>
                    <p class="card-text songtitle">Some quick example text to build </p>
                    <p class="artist"><small class="by">By</small> John D'Mathew</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="cards-item" [flickityChild]>
            <div class="card">
                <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title date">21 May 2019</h5>
                    <p class="card-text songtitle">Some quick example text to build </p>
                    <p class="artist"><small class="by">By</small> John D'Mathew</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="cards-item" [flickityChild]>
            <div class="card">
                <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title date">21 May 2019</h5>
                    <p class="card-text songtitle">Some quick example text to build </p>
                    <p class="artist"><small class="by">By</small> John D'Mathew</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="cards-item" [flickityChild]>
            <div class="card">
                <img class="card-img-top" src="assets/img/jumbo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title date">21 May 2019</h5>
                    <p class="card-text songtitle">Some quick example text to build </p>
                    <p class="artist"><small class="by">By</small> John D'Mathew</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</section> -->

<section class="card-section">
    <h1>Top Artists</h1>
    <div class="cards" [flickity]="options">
        <div class="cards-item" [flickityChild] *ngFor="let artist of artists">
            <div class="card" (click)="goToArtistProfile(artist._id)">
                <img class="card-img-top" src="{{artist.profilePic}}" alt="Card image cap">
                <div class="card-body">
                    <p class="artist text-center font-weight-bolder "> {{artist.name}}</p>
                </div>
            </div>
        </div>

    </div>

</section>

<footer>
    <h1>Concerts</h1>
    <div class="events" style="display: flex; justify-content: space-evenly;flex-wrap: wrap">
        <div class="event" style="display: flex; align-items: center; ">
            <div style="margin-right: 2rem">
                <h5 style="">Name Of The Event</h5>
                <p style="">Date and Venue of the concert</p>
            </div>
            <div class>
                <a href="#" class="btn btn-danger">
          Tickets
        </a>
            </div>
        </div>
        <div class="event" style="display: flex; align-items: center; ">
            <div style="margin-right: 2rem">
                <h5 style="">Name Of The Event</h5>
                <p style="">Date and Venue of the concert</p>
            </div>
            <div class>
                <a href="#" class="btn btn-danger">
          Tickets
        </a>
            </div>
        </div>
        <div class="event" style="display: flex; align-items: center; ">
            <div style="margin-right: 2rem">
                <h5 style="">Name Of The Event</h5>
                <p style="">Date and Venue of the concert</p>
            </div>
            <div class>
                <a href="#" class="btn btn-danger">
          Tickets
        </a>
            </div>
        </div>
        <div class="event" style="display: flex; align-items: center; ">
            <div style="margin-right: 2rem">
                <h5 style="">Name Of The Event</h5>
                <p style="">Date and Venue of the concert</p>
            </div>
            <div class>
                <a href="#" class="btn btn-danger">
          Tickets
        </a>
            </div>
        </div>
        <div class="event" style="display: flex; align-items: center; ">
            <div style="margin-right: 2rem">
                <h5 style="">Name Of The Event</h5>
                <p style="">Date and Venue of the concert</p>
            </div>
            <div class>
                <a href="#" class="btn btn-danger">
          Tickets
        </a>
            </div>
        </div>
        <div class="event" style="display: flex; align-items: center; ">
            <div style="margin-right: 2rem">
                <h5 style="">Name Of The Event</h5>
                <p style="">Date and Venue of the concert</p>
            </div>
            <div class>
                <a href="#" class="btn btn-danger">
          Tickets
        </a>
            </div>
        </div>
        <div class="event" style="display: flex; align-items: center; ">
            <div style="margin-right: 2rem">
                <h5 style="">Name Of The Event</h5>
                <p style="">Date and Venue of the concert</p>
            </div>
            <div class>
                <a href="#" class="btn btn-danger">
          Tickets
        </a>
            </div>
        </div>
        <div class="event" style="display: flex; align-items: center;">
            <div style="margin-right: 2rem">
                <h5 style="">Name Of The Event</h5>
                <p style="">Date and Venue of the concert</p>
            </div>
            <div class>
                <a href="#" class="btn btn-danger">
          Tickets
        </a>
            </div>
        </div>
    </div>

    <button class="btn">Browse All</button>
</footer>