<div class="outer-container">
    <section>
        <div class="hero">
            <div class="bg-color"></div>
            <img [src]="landingPageContent.imageUrl" alt="Landing page picture" id="heroImage" />
            <h1 class="hero-title">{{ landingPageContent.title || defaultTitle }}</h1>
            <p class="hero-info">{{ landingPageContent.description || defaultDescription }}</p>
            <p class="lead">
                <a class="btn btn-lg" href="http://app.newwellmusic.com" role="button">{{landingPageContent.ctaText || 'Join Us'}}</a>
            </p>
        </div>
    </section>

    <div class="bg-img">
        <div class="bg-color"></div>
        <section>
            <div id="brands" [flickity]="logosOptions">
                <div class="brand" [flickityChild] *ngFor="let logo of logos">
                    <img [src]="logo.src" />
                </div>
            </div>
        </section>
        <div class="container">
            <section class="card-section">
                <h1 class="text-center">Top Artists</h1>
                <div class="cards" [flickity]="options">
                    <div class="cards-item" [flickityChild] *ngFor="let artist of artists">
                        <div class="card">
                            <a href="{{artist.link}}" target="_blank">
                                <img class="card-img-top" src="{{ artist.profilePic }}" alt="Card image cap" />
                            </a>
                            <div class="card-body">
                                <a href="{{artist.link}}" target="_blank">
                                    <p class="artist text-center font-weight-bolder ">
                                        {{ artist.stageName }}
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center mt-5 pb-5">
            <h1>Get the best value for your music</h1>
            <p>Join us today</p>
            <a class="btn btn-lg" id="actionBtn" href="https://app.newwellmusic.com">Get Started</a>
        </div>
    </div>
</div>
