<div class="outer-container">
    <section>
        <div class="hero">
            <div class="bg-color"></div>
            <img [src]="landingPageContent.imageUrl" alt="Landing page picture" id="heroImage" />
            <h1 class="hero-title">{{ landingPageContent.title }}</h1>
            <p class="hero-info">{{ landingPageContent.description }}</p>
            <p class="lead">
                <a class="btn btn-lg" [routerLink]="[landingPageContent.ctaLink]" role="button">{{
        landingPageContent.ctaText
      }}</a>
            </p>
        </div>
    </section>

    <div class="bg-img">
        <div class="bg-color">
        </div>
        <section>
            <div id="brands" [flickity]="logosOptions">
                <div class="brand" [flickityChild] *ngFor="let logo of logos">
                    <img [src]="logo.src" />
                </div>
            </div>
        </section>
        <div class="container">
            <section class="card-section">
                <h1 class="text-center">Top Artists</h1>
                <div class="cards" [flickity]="options">
                    <div class="cards-item" [flickityChild] *ngFor="let artist of artists">
                        <div class="card">
                            <img class="card-img-top" src="{{ artist.profilePic }}" alt="Card image cap" />
                            <div class="card-body">
                                <p class="artist text-center font-weight-bolder ">
                                    {{ artist.name }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center action mt-5 pb-5">
            <h1>Get the best value for your music</h1>
            <p>Join us today</p>
            <a class="btn btn-lg" href="artist-signup">Get Started</a>
        </div>
    </div>
</div>