<div class="terms">
    <div class="page-title">
        <h2>What We do at NewWell</h2>
    </div>
    <div class="content">
        <p>
            Here at Newwell we believe in talent perfection and as such we believe in you. We believe in your music career which is the reason why we go out of our way to get it right for you. We Want to take you to the world, so that you can inspire millions with
            your music.
        </p>
        <p>
            We move with speed to help you secure your place in the industry.
        </p>
        <p>
            With the current state of the internet penetration, most people are now able to stream music online which means a new paltform for already established and upcoming musicians, which is where we come in.
        </p>
        <p>We have created a dynamic ecosystem that is solely meant for you.</p>
        <div class="page-title">
            <h2>Why Choose NewWell</h2>
        </div>
        <ol>
            <li><a routerLink="." fragment="accessibility">Accessibility</a></li>
            <li><a routerLink="." fragment="analytics"> Analytics</a></li>
            <li><a routerLink="." fragment="affordability"> Affordability</a></li>
            <li><a routerLink="." fragment="proofOfWork"> Proof of work </a></li>
        </ol>
        <div class="para">
            <div class="para-title">
                <h2 id="accessibility">1. Accessibility</h2>
            </div>
            <div class="para-content">
                <p>We are always a call away.</p>
            </div>
        </div>
        <div class="para">
            <div class="para-title">
                <h2 id="analytics">2. Analytics</h2>
            </div>
            <div class="para-content">
                <p>We believe that you cannot control anything without measuring it which is why we provide you with an interface that tracks how your songs are doing in the market in real time.
                </p>
            </div>
        </div>
        <div class="para">
            <div class="para-title">
                <h2 id="affordability">3. Affordability</h2>
            </div>
            <div class="para-content">
                <p>We want you to do more with less. Get out there and reach millions with less and very fast. We make it all affordale for you.</p>
            </div>
        </div>
        <div class="para">
            <div class="para-title">
                <h2 id="proofOfWork">3. Proof Of Work</h2>
            </div>
            <div class="para-content">
                <p>Looking at our long list of international clients it is so obvious that you are in good hands. We can proof we have done before, we will do it for you.</p>
            </div>
        </div>
    </div>
</div>