@import '../../../sass/base';
:host {
    .terms {
        width: 100%;
        background: black;
        display: flex;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 8rem;
        flex-direction: column;
        .page-title {
            width: 80%;
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            h2 {
                color: $secondary;
                font-size: 24px;
                font-weight: 500px;
            }
        }
        .content {
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            ol {
                li {
                    a {
                        color: $secondary;
                        text-decoration: underline;
                        margin: 5px;
                        &:hover {
                            color: $banner;
                        }
                    }
                }
            }
        }
        .para {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .para-title {
                margin-top: 20px;
                h2 {
                    font-weight: 350px;
                    color: $secondary;
                }
            }
            .para-content {
                p {}
            }
        }
    }
}