<!-- <div class="row">
  <div class="container-main">



    <div class="content">

        <div class="header">
            <div class="hero">
                <img src="../../../assets/img/pricing.jpg" alt="" srcset="">
            </div>



            <div class="action">

              <div class="call">
                  <h2>Publishing</h2>
                  <p>publishing</p>

                  <div class="btnClass">

                      <a class="btn">Get Started</a>
                  </div>

              </div>


            </div>

          </div>

      <div class="intro">

      </div>

      <div class="card-content">


        <div class="pricing-card  marginit">

          <div class="article">
            <h2>SINGLE</h2>

            <p>Single Song Distribution </p>

            <p class="price">Ksh 1000 / $9.99</p>

            <div class="actions">
              <button class="btn-one">Get Started</button>

            </div>

          </div>



          <p>Charges are per annum </p>

        </div>

        <div class="pricing-card  marginit">

            <div class="article">
                <h2>ALBUM</h2>

                <p>Full Album Distribution</p>
                <p class="price">Ksh 3000 / $29.99</p>

                <div class="actions">

                  <button class="btn-one">Get Started</button>
                </div>

              </div>



            <p>Charges are per annum </p>
          </div>
        <div class="pricing-card  marginit">

          <div class="article">
            <h2>RINGTONE</h2>

            <p>Full Album Distribution</p>
            <p class="price">Ksh 2000 / $19.99</p>
            <div class="actions">

              <button class="btn-one">Get Started</button>
            </div>

          </div>



          <p>Charges are per annum </p>
        </div>

        <div class="pricing-card  marginit">

          <div class="article">
            <h2>NewWell Marketing</h2>

            <p>Marketing</p>

            <p class="price">Ksh 1000 / $9.99</p>
            <div class="actions">

              <button class="btn-one">Get Started</button> </div>

          </div>




        </div>


      </div>





    </div>




  </div>
</div> -->




<div class="pricing">
  <div class="header">
    <div class="hero">
      <img src="../../../assets/img/pricing.jpg" alt="" srcset="">
    </div>



    <div class="action">

      <div class="call1">
        <img src="../../../assets/img/audience-band-blur-1587927.jpg">

      </div>
      <div class="call">
        <h2>Pricing</h2>
        <p>Pricing</p>

        <div class="btnClass">

          <a class="btn">Get Started</a>
        </div>

      </div>


    </div>

  </div>

  <div class="tabs">
      <div class="tab-one">

      </div>


      <div class="tab-two">

        </div>
        <div class="tab-three">

          </div>
    </div>

  <div class="div-pricing gradient-normal bgdark">




    <div class="card-content">
        <div class="title">
            <h2>Our rates are the best in the market</h2>
          </div>


          <div class="pricing-cards">

              <div class="pricing-card  marginit">

                  <div class="article">
                    <h2>SINGLE</h2>

                    <p>Single Song Distribution </p>

                    <p class="price">Ksh 1000 / $9.99</p>

                    <div class="actions">
                      <button class="btn-one">Get Started</button>

                    </div>

                  </div>




                </div>
              <div class="pricing-card  marginit">

                  <div class="article">
                    <h2>ALBUM</h2>

                    <p> </p>

                    <p class="price">Ksh 3000 / $29.99</p>

                    <div class="actions">
                      <button class="btn-one">Get Started</button>

                    </div>

                  </div>





                </div>




                <div class="pricing-card  marginit">

                  <div class="article">
                    <h2>Marketing</h2>

                    <p> </p>

                    <p class="price">Ksh 1000 / $9.99</p>

                    <div class="actions">
                      <button class="btn-one">Get Started</button>

                    </div>

                  </div>





                </div>
            </div>




    </div>

  </div>








  <div class="foot gradient-normal">

    <div class="para" >


      <div class="main">
        <div class="banner-head">
            <h2 >Your Music Will be available</h2>
        </div>


        <img src="../../../assets/img/carousel/Deezer_logo.svg">
        <img src="../../../assets/img/carousel/amazon-2.svg">
        <img src="../../../assets/img/carousel/amazon-icon.svg">
        <img src="../../../assets/img/carousel//apple-music.svg">
        <img src="../../../assets/img/carousel/google_play_music.svg">
        <img src="../../../assets/img/carousel/itunes.svg">
        <img src="../../../assets/img/carousel/jambotunes.svg">
        <img src="../../../assets/img/carousel/pandora.svg">
        <img src="../../../assets/img/carousel//soundcloud_logo.svg">
        <img src="../../../assets/img/carousel/spotify.svg">
        <img src="../../../assets/img/carousel/tidal.svg">
        <img src="../../../assets/img/carousel//youtube.svg">

      </div>


    </div>

  </div>
</div>
