<div class="row">
  <div class="container-main">



    <div class="content">

      <div class="header">
        <img src="../../../assets/img/pricing.jpg">
        <h2>Pricing</h2>
        <hr />
        <h3>Newwell Pricing model </h3>

      </div>

      <div class="card-content">


        <div class="pricing-card  marginit">

          <div class="article">
            <h2>SINGLE</h2>

            <p>Single Song Distribution </p>

            <p class="price">Ksh 1000 / $9.99</p>

            <div class="actions">
              <button class="btn-one">Get Started</button>

            </div>

          </div>



          <p>All Charges are per annum </p>

        </div>
        <!-- <div class="pricing-card-center">
          <div class="top">


          </div>
          <div class="article">
            <h2>ALBUM</h2>

            <p>Full Album Distribution</p>
            <p>Ksh 3000 / $29.99</p>

            <div class="actions">

              <button class="btn">Distribute</button>
            </div>

          </div>
          <p>Ksh 3000 / $29.99 For the first Year</p>
          <p>Ksh 3000 / $29.99 For every other year </p>

        </div> -->
        <div class="pricing-card  marginit">

            <div class="article">
                <h2>ALBUM</h2>

                <p>Full Album Distribution</p>
                <p class="price">Ksh 3000 / $29.99</p>

                <div class="actions">

                  <button class="btn">Distribute</button>
                </div>

              </div>



            <p>All Charges are per annum </p>
          </div>
        <div class="pricing-card  marginit">

          <div class="article">
            <h2>RINGTONE</h2>

            <p>Full Album Distribution</p>
            <p class="price">Ksh 2000 / $19.99</p>
            <div class="actions">

              <button class="btn">Distribute</button>
            </div>

          </div>



          <p>All Charges are per annum </p>
        </div>

        <div class="pricing-card  marginit">

          <div class="article">
            <h2>NewWell Marketing</h2>

            <p>Marketing</p>

            <p class="price">Ksh 1000 / $9.99</p>
            <div class="actions">

              <button class="btn">Distribute</button> </div>

          </div>




        </div>


      </div>





    </div>

    <div class="pricing-info">

      <div class="info">
        <h2>Distribute with Newwell Now</h2>

        <h3></h3>


        <a href="" class="btn">Get Started</a>
      </div>


    </div>
<!--
    <div class="pricing-foot">


        <div class="info">
            <h2>Distribute with Newwell Now</h2>

            <h3></h3>


            <a href="" class="btn">Get Started</a>
          </div>

          <div class="info">
              <h2>Distribute with Newwell Now</h2>

              <h3></h3>


              <a href="" class="btn">Get Started</a>
            </div>

    </div> -->


  </div>
</div>
