




<div class="pricing">
  <div class="header">
    <div class="hero">
      <img src="../../../assets/img/pricing.jpg" alt="" srcset="">
    </div>



    <div class="action">

      <div class="call1">
        <img src="../../../assets/img/heads.jpg">

      </div>
      <div class="call">
        <h2>Pricing</h2>
        <p>Reach More with less fast and reliably.</p>

        <div class="btnClass">

          <a routerLink="/artist-signup" class="btnI">Artist Signup</a>

          <a routerLink="/signup" class="btn">Start Now</a>
        </div>

      </div>


    </div>

  </div>

  <div class="tabs">
      <div class="tab-one">

      </div>


      <div class="tab-two">

        </div>
        <div class="tab-three">

          </div>
    </div>

  <div class="div-pricing gradient-normal bgdark">



    <div class="card-content">
        <div class="title">
          <div class="title-head">
              <h2>Our rates are the best in the market</h2>
          </div>

          </div>
          <div class="pricing-cards">

              <div class="pricing-card  marginit">

                  <div class="article">
                    <h2>SINGLE</h2>

                    <p>Single Song Distribution </p>

                    <p class="price">Ksh 1000 / $9.99</p>

                    <div class="actions">
                      <button class="btn-one">Get Started</button>

                    </div>

                  </div>




                </div>
              <div class="pricing-card  marginit">

                  <div class="article">
                    <h2>ALBUM</h2>

                    <p> Five Songs Album</p>

                    <p class="price">Ksh 5000 / $49.99</p>

                    <div class="actions">
                      <button class="btn-one">Get Started</button>

                    </div>

                  </div>





                </div>
                <div class="pricing-card  marginit">

                  <div class="article">
                    <h2>Marketing</h2>




                    <div class="actions">
                      <a class="btn-one" routerLink="/marketing">Learn More</a>

                    </div>

                  </div>
                </div>
            </div>


  <div class="div-one">
    <div class="para">
      <div class="title">
          <h2> Update Your Account Details</h2>
      </div>

        <div class="main">
          <p>
            Let us give you a better service
          </p>
        </div>
      <p routerlink="" class="btn">Update Now</p>
    </div>

</div>
    </div>
  </div>









  <div class="foot gradient-none">

    <div class="para" >


      <div class="main">
        <div class="banner-head">
            <h2 >Music streaming services we offer you</h2>
        </div>


        <img src="../../../assets/img/carousel/Deezer_logo.svg">
        <img src="../../../assets/img/carousel/amazon-2.svg">
        <img src="../../../assets/img/carousel/amazon-icon.svg">
        <img src="../../../assets/img/carousel//apple-music.svg">
        <img src="../../../assets/img/carousel/google_play_music.svg">
        <img src="../../../assets/img/carousel/itunes.svg">
        <img src="../../../assets/img/carousel/jambotunes.svg">
        <img src="../../../assets/img/carousel/pandora.svg">
        <img src="../../../assets/img/carousel//soundcloud_logo.svg">
        <img src="../../../assets/img/carousel/spotify.svg">
        <img src="../../../assets/img/carousel/tidal.svg">

      </div>


    </div>

  </div>
</div>
