@import '../../../sass/base';

/* General CSS */

a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.link-button {
    color: white;
    background: #00a79d;
    padding: 10px;
    border-radius: 5px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}

.link-button:hover {
    background: darken(#00a79d, 10);
}

.content {
    padding: 1.5rem;
    h3 {
        font-size: 1.3rem;
        font-weight: 900;
    }
    h3,
    p {
        line-height: 2rem;
    }
    ol {
        font-size: 0.9rem;
    }
}

.para-header {
    font-size: 1.5rem;
    text-transform: uppercase;
}


/* Main CSS */

.outer-container {
    margin-top: 4.3rem;
    header {
        width: 100%;
        height: 100vh;
        min-height: 460px;
        .banner {
            width: 100%;
            height: 100%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                object-fit: cover;
            }
            .overlay {
                position: absolute;
                width: 100%;
                background: linear-gradient(45deg, black 43%, transparent);
                top: 0;
                bottom: 0;
                .text-content {
                    margin-top: 10rem;
                    padding: 1.5rem;
                    h3,
                    p {
                        color: white;
                    }
                    a {
                        display: block;
                        width: 9.5rem;
                        margin: 2rem 0;
                    }
                }
            }
        }
    }
    .main {
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        .dist-container {
            .content-image {
                display: none;
            }
        }
        .pricing {
            // background: gray;
            width: 80%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            // margin: 30px 0;
            .pricing-card {
                width: 100%;
                padding: 15px;
                margin-bottom: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column nowrap;
                border: 1px solid white;
                h3 {
                    text-transform: uppercase;
                }
                p {
                    text-transform: capitalize;
                }
            }
        }
        a {
            text-transform: uppercase;
            width: 80%;
        }
        .icons {
            background: black;
            width: 100%;
            height: 200px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            p {
                text-transform: capitalize;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                color: #00a79d;
            }
            .brands {
                background: lighten(black, 7);
                width: 100%;
                min-height: 50px;
                display: flex;
                flex-flow: row nowrap;
                overflow-y: scroll;
                .brand {
                    padding: 0.5rem 1rem;
                    img {
                        width: 110px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .outer-container {
        .banner {
            .text-content {
                width: 50%;
                h3 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.5rem;
                    span {
                        font-weight: bold;
                    }
                }
                a {
                    font-size: 1.2rem;
                }
            }
        }
        .main {
            .content {
                h3 {
                    font-size: 1.8rem;
                    text-align: center;
                }
                p {
                    font-size: 1.2rem;
                }
            }
            .dist-container {
                width: 80%;
                display: flex;
                align-items: center;
                .content {
                    width: 50%;
                    font-size: 1rem;
                    h3 {
                        display: none;
                    }
                    p {
                        margin: 0;
                    }
                }
                .content-image {
                    width: 50%;
                    display: flex;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                    video {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .para-header {
                font-size: 1.5rem;
            }
            .pricing {
                flex-direction: row;
                justify-content: space-between;
                .pricing-card {
                    width: 48%;
                }
            }
            .icons {
                p {
                    font-size: 2rem;
                }
                .brands {
                    .brand {
                        margin-left: 3rem;
                    }
                }
            }
        }
    }
}