$primary: #0f1011;
$danger: #ff4136;
$secondary: white;
.outer {
    margin-top: 6rem;
}

header {
    background-image: url(../../../assets/images/publishing-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
    .intro {
        width: 50%;
        padding-top: 4rem;
        padding-left: 2rem;
        p {
            color: $danger;
        }
    }
}
