<div class="main">
    <div class="main-card md-column lg-column">
        <div class="main-card-image">
            <img src="../../../../assets/images/icons/create_account.jpg" alt="">
        </div>
        <div class="main-card-content">
            <p class="para-title">create an account</p>
            <p class="para-content">Apply to enroll to our program as an artist. </p>
            <a class="link-btn" href="https://app.newwellmusic.com">Create Account</a>
        </div>
    </div>
    <div class="main-card md-column lg-column">
        <div class="main-card-image">
            <img src="../../../../assets/images/icons/upload-1118929_640.png" alt="">
        </div>
        <div class="main-card-content">
            <p class="para-title"> Submit your details
            </p>
            <p class="para-content">This will include personal details, profile photos and artist name. </p>
        </div>
    </div>
    <div class="main-card md-column lg-column">
        <div class="main-card-image">
            <img src="../../../../assets/images/icons/verified.png" alt="">
        </div>
        <div class="main-card-content">
            <p class="para-title">Get verified
            </p>
            <p class="para-content">Our team will assess your details and approve your membership. </p>
        </div>
    </div>
    <!-- <div class="main-card md-column lg-column">
        <div class="main-card-image">
            <img src="../../../../assets/images/icons/online-banking-4287684_1280.jpg" alt="">
        </div>
        <div class="main-card-content">
            <p class="para-title"> Start getting Paid</p>
            <p class="para-content">Every time you get streamed on Spotify. Every download of your music on iTunes.You get paid, and we put your money directly into your Newwell music account. </p>
        </div>
    </div> -->
    <div class="general-content">
        <h3>Get Started Now</h3>
        <p>Sign up with us either as an artist to get your work published and access to analytics to review your progress or as a user to interact with the online community. </p>
        <a href="https://app.newwellmusic.com" class="link-btn">Get Started</a>
    </div>
</div>
