$primary: #0f1011;
$danger: #FF0039;
$danger2: #ff4136;
$secondary: white;
.wrapper {
    margin-top: 4rem;
    .side-nav {
        width: 250px;
        height: 100%;
        margin: 0;
        background-color: lighten($primary, 10);
        position: fixed;
        top: 4rem;
        left: 0;
        z-index: 9;
        overflow: auto;
        .top {
            height: 90px;
            margin-left: 52px;
            margin-top: 20px;
            .top-info {
                display: flex;
                justify-content: space-around;
                h5,
                span {
                    color: $secondary;
                }
                span {
                    padding-right: 5px;
                    cursor: pointer;
                }
            }
            button {
                margin-top: 10px;
            }
        }
        ul {
            .list-group-item:first-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            .list-group-item:last-child {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            li {
                background-color: lighten($primary, 5);
                a {
                    display: flex;
                    align-items: flex-start;
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: bold;
                    height: 19px;
                    cursor: pointer;
                    color: darken($secondary, 20);
                    span {
                        white-space: nowrap;
                        overflow: hidden;
                        transition: all 5s ease-in-out;
                        margin-left: 1rem;
                    }
                }
            }
            li:hover,
            li.active {
                background: #000000;
                color: $secondary;
                border-color: black;
            }
        }
    }
    .togglebtn {
        color: white;
        background: #FF0039;
        font-size: 2rem;
        position: fixed;
        z-index: 9;
        cursor: pointer;
    }
    .main-container {
        width: 100%;
        margin: 0;
        // padding-left: 3rem;
        color: $secondary;
    }
}