$primary: #0f1011;
$danger: #FF0039;
$secondary: white;
.wrapper {
    margin-top: 4rem;
    .side-nav {
        width: 250px;
        height: 100vh;
        margin: 0;
        background-color: $primary;
        position: fixed;
        overflow: hidden;
        top: 4rem;
        left: 0;
        z-index: 1;
        ul {
            li {}
        }
        ul li a {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: bold;
            height: 19px;
            cursor: pointer;
            span {
                white-space: nowrap;
                overflow: hidden;
                transition: all 5s ease-in-out;
                margin-left: 1rem;
            }
        }
    }
    .main-container {
        margin: 0;
        padding-left: 4rem;
        color: $secondary;
    }
}