<div class="main">
    <div class="main-card md-column lg-column">
        <div class="main-card-image">
            <img src="../../../../assets/images/icons/upload-1118929_640.png" alt="">
        </div>
        <div class="main-card-content">
            <p class="para-title">Submit music</p>
            <p class="para-content">This could be in form of singles or albums.
            </p>
        </div>
    </div>
    <div class="main-card md-column lg-column">
        <div class="main-card-image">
            <img src="../../../../assets/images/icons/qualitycheck.png" alt="">
        </div>
        <div class="main-card-content">
            <p class="para-title">Review</p>
            <p class="para-content">Newwell does a quality check and adds metadata to your content. </p>
        </div>
    </div>
    <div class="main-card md-column lg-column">
        <div class="main-card-image">
            <img src="../../../../assets/images/icons/publish.png" alt="">
        </div>
        <div class="main-card-content">
            <p class="para-title"> Publishing
            </p>
            <p class="para-content">Newwell will send your music to all your preferred stores and streaming services.
            </p>
        </div>
    </div>
    <div class="main-card md-column lg-column">
        <div class="main-card-image">
            <img src="../../../../assets/images/icons/online-banking-4287684_1280.jpg" alt="">
        </div>
        <div class="main-card-content">
            <p class="para-title"> get Paid</p>
            <p class="para-content">Every download or stream will put money to the artist's newwell music account. </p>
        </div>
    </div>
    <div class="general-content">
        <h3>We do not stop there. We get to the next level </h3>
        <p>All stores in one <b> Newwell Link</b>. You will love this, Each effective Publish accompanies up to 10 connections from Major stores installed to one simple to share - Newwell Link. </p>
        <a href="https://app.newwellmusic.com" class="link-btn">Get Started</a>
    </div>
</div>
