@import '../../../../sass/base';
.album-details {
    color: white;
    width: 90%;
    margin: auto;
    h3,
    p {
        color: white;
        font-size: 20px;
        margin: 10px 10px;
    }
    p {
        margin-bottom: 10px;
    }
    .song-details {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background: lighten($primary, 30);
        padding: 5px 0 10px 10px;
        margin-bottom: 1px;
        p,
        small,
        h3 {
            color: white;
        }
        small {
            color: lighten(black, 70);
            font-size: 0.8rem;
        }
        p {
            font-size: 0.9rem;
        }
        .numbering,
        .status,
        .duration,
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        .numbering,
        .status {
            flex-basis: 10%;
        }
        .duration {
            flex-basis: 20%;
        }
        .title {
            flex-basis: 60%;
        }
        .cover {
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 80%;
                height: 80%;
            }
        }
    }
}