@import '../../../../sass/base';
.count-span {
    font-size: 20px;
    width: 70px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
}

.album-details {
    color: white;
    width: 90%;
    margin: auto;
    .details-title {
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
        align-content: center;
        h3,
        p,
        .tool-tip {
            color: white;
            font-size: 20px;
            margin: 10px 10px;
        }
        a {
            margin-bottom: 10px;
        }
        // .tool-tip {
        //     color: white;
        //     font-size: 20px;
        //     margin: 10px 10px;
        // }
        p {
            font-size: 0.9rem;
        }
    }
    .song-details {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background: lighten($primary, 30);
        padding: 5px 0 10px 10px;
        margin-bottom: 1px;
        p,
        small,
        h3 {
            color: white;
        }
        small {
            color: lighten(black, 70);
            font-size: 0.8rem;
        }
        p {
            font-size: 0.9rem;
        }
        .numbering,
        .status,
        .duration,
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        .numbering,
        .status {
            flex-basis: 10%;
        }
        .duration {
            flex-basis: 20%;
        }
        .title {
            flex-basis: 60%;
        }
        .cover {
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 80%;
                height: 80%;
            }
        }
    }
}


/* Tool Tip Styles*/

.tool-tip {
    position: relative;
    color: white;
    font-size: 40px;
}

.tool-tip .tooltip-text {
    display: none;
    width: 120px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tool-tip:hover .tooltip-text {
    display: block;
}