$primary: #0f1011;
$danger: #FF0039;
$secondary: white;
#footer-area {
    padding: 50px 0 40px 0;
    background: $primary;
    color: $secondary;
    .single-footer {
        h4 {
            margin-bottom: 25px;
            color: hsl(0, 0%, 80%);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: hsl(0, 0%, 40%);
            margin-bottom: 0;
        }
        .footer-social {
            // margin-top: 10px;
            li {
                display: inline-block;
                margin: 10px;
                a {
                    width: 30px;
                    height: 30px;
                    background: lighten($primary, 10);
                    i {
                        color: $danger;
                        padding: 8px;
                    }
                }
            }
        }
        .link-area {
            padding: 0;
            li {
                padding: 5px 5px 5px 0;
                list-style: none;
                a {
                    text-transform: capitalize;
                    color: hsl(0, 0%, 40%);
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    i {
                        margin-right: 10px;
                        color: $danger;
                    }
                }
            }
        }
    }
    .wave {
        img {
            width: 200px;
            height: 136px;
        }


        .social {
          display: flex;
          justify-content: center;
          width: 100%;
          a {
            text-decoration: none;
            margin: 5px;

            font-size: 22px;
          }

          .facebook {
            color: lightblue;
          }

          .whatsapp {
            color: rgb(8, 155, 64);
          }

          .behance {
            color: rgb(21, 158, 204);
          }

          .snapchat {
            color: lightblue;
          }

          .twitter {
            color: rgb(135, 171, 204);
          }
        }
    }
    .bt {
        border: 1px solid #FF0039;
        color: #FF0039;
        cursor: pointer;
    }
    .bt:hover {
        background: lighten($primary, 10)
    }
    .copyright-area {
        background: lighten($primary, 10);
        padding: 30px 0;
        border-radius: 5px;
        p {
            font-weight: 600;
            color: #fafafa;
        }
    }
    .comp {
        padding: 0 auto;
    }
}

@media (max-width: 992px) {
    #footer-area {
        .single-footer {
            padding-left: 2rem;
            h4 {
                font-size: 20px;
            }
            p,
            .link-area {
                font-size: 0.9rem;
            }
            .widget {
                li {
                    a {
                        img {
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

