<footer>
    <!-- <hr class="bar"> -->
    <div class="footer-content">
        <div class="footer-logo">
            <div class="logo-image">
                <img src="../../../../assets/img/logos/newwelllogo.svg" alt="Logo image">
                <a routerLink="artist-signup" class="footer-btn" role="button">Join Us Today</a>
            </div>
        </div>
        <div class="footer-card" id="newwellMusic">
            <h4>Newwell Music</h4>
            <p>Your one stop music distribution platform. We distribute your music to your favorite channels giving you maximum value.</p>
        </div>
        <div class="footer-card" id="newwellSupport">
            <h4>Newwell Support</h4>
            <ul class="link-area">
                <li><a routerLink="/terms">Terms And Conditions</a></li>
                <li><a routerLink="/faq">Newwell Music FAQs</a></li>
                <li><a routerLink="/policy">Policies</a></li>
            </ul>
        </div>
        <div class="footer-card" id="company">
            <h4>Company</h4>
            <ul class="link-area">
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/publishing">Publishing</a></li>
                <!-- <li><a routerLink="/whatwedo">What We Do</a></li> -->
                <!-- <li><a href="https://newwell.studio/" target="_blank">Audio Mastering</a></li> -->
                <!-- <li><a routerLink="/">Graphic Design</a></li> -->
                <!-- <li><a routerLink="/">Blog</a></li> -->
            </ul>
        </div>
    </div>
    <div class="footerbar">
        <p> &copy;Copyright All Rights Reserved</p>

    </div>
</footer>