<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <div class="logo-image">
                <img src="../../../../assets/img/logos/newwelllogo.svg" alt="Logo image">
            </div>
        </div>
        <div class="footer-card">
            <h4>Newwell Music</h4>
            <p>Your one stop music distribution platform. We distribute your music to your favorite channels giving you maximum value.</p>
        </div>
        <div class="footer-card">
            <h4>Newwell Support</h4>
            <ul class="link-area">
                <li><a routerLink="/terms">Terms And Conditions</a></li>
                <li><a routerLink="/faq">Newwell Music FAQs</a></li>
                <li><a routerLink="/policy">Policies</a></li>
            </ul>
        </div>
        <div class="footer-card comp">
            <h4>Company</h4>
            <ul class="link-area">
                <li><a routerLink="/about">About Newwell</a></li>
                <li><a routerLink="/whatwedo">What We Do</a></li>
            </ul>
        </div>
    </div>
    <div class="footerbar">
        <p>Copyright All Rights Reserved</p>

    </div>
</footer>