<footer>
    <div id="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer ml-4">
                        <h4>Newwell Music</h4>
                        <p>Your one stop music distribution platform. We distribute your music to your favorite channels giving you maximum value.</p>
                        <!-- <ul class="footer-social list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer ml-4">
                        <h4>Newwell Support</h4>
                        <ul class="link-area">
                            <li><a routerLink="/terms">Terms And Conditions</a></li>
                            <li><a routerLink="/faq">Newwell Music FAQs</a></li>
                            <li><a routerLink="/policy">Policies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer ml-4">
                        <h4>Company</h4>
                        <ul class="link-area contacts">
                            <li><a routerLink="/about">About Newwell</a></li>
                            <li><a routerLink="/whatwedo">What We Do</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer wave">
                        <img class="img-fluid mr-2 mb-4" src="../../../../assets/img/logos/newwelllogo.png" alt="Head phones image">
                        <div class="social">
                          <a href="facebook"><i class="fa fa-facebook facebook"></i></a>
                          <a href="twitter"><i class="fa fa-twitter twitter"></i></a>
                          <a href="instagram"><i class="fa fa-instagram instagram"></i></a>
                          <a href="snapchat"><i class="fa fa-snapchat snapchat"></i></a>
                          <a href="whatsapp"><i class="fa fa-whatsapp whatsapp"></i></a>
                          <a href="whatsapp"><i class="fa fa-behance behance"></i></a>

                            <!-- <a class="btn bt btn-lg" routerLink="/artist-signup" role="button">Join Us today</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">
            <div class="copyright-area text-center">
                <p>&copy; 2019, All Rights Reserved</p>
            </div>
        </div> -->
    </div>
</footer>
