/* You can add global styles to this file, and also import other style files */

@import "./spinner";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,500,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
$primary: #0f1011;
$danger: #ff4136;
$secondary: white;
#brands {
    .flickity-viewport {
        height: 100% !important;
        display: flex;
        align-items: center;
    }
    .flickity-slider {
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: lighten($color: $primary, $amount: 10);
    .btn {
        text-transform: uppercase;
    }
    .flickity-page-dots .dot {
        background: $danger;
    }
}