/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  -webkit-animation: 0.8s linear 0.1s normal none infinite running load;
          animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  -webkit-animation: 0.8s linear 0.2s normal none infinite running load;
          animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  -webkit-animation: 0.8s linear 0.3s normal none infinite running load;
          animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  -webkit-animation: 0.8s linear 0.4s normal none infinite running load;
          animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  -webkit-animation: 0.8s linear 0.5s normal none infinite running load;
          animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  -webkit-animation: 0.8s linear 0.6s normal none infinite running load;
          animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  -webkit-animation: 0.8s linear 0.7s normal none infinite running load;
          animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  -webkit-animation: 0.8s linear 0.8s normal none infinite running load;
          animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@-webkit-keyframes load {
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}

#brands .flickity-viewport {
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#brands .flickity-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #272a2c;
}

body .btn {
  text-transform: uppercase;
}

body .flickity-page-dots .dot {
  background: #ff4136;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
/*# sourceMappingURL=styles.css.map */