<div class="preview-container">
    <div class="songs-container">

        <div class="title">

            <div class="actions">
                <h2>Albums</h2>
            </div>

            <!-- <div class="actions"><a routerLink="/dashboard/songs">...</a></div> -->
            <div class="actions"><a (click)="newAlbum()">+</a></div>

        </div>

        <div class="song">
            <div class="thumb">
                <img src="../../assets/img/banner.jpg">
            </div>


            <div class="count">
                <p>1</p>

            </div>
            <div class="name">
                <p>Menya Ruru</p>

            </div>

            <div class="time">
                <p>3:45</p>
            </div>
            <div class="action">
                <a routerLink="/dashboard/albums/wamlambez">...</a>

            </div>

        </div>

        <div class="song">
            <div class="thumb">
                <img src="../../assets/img/audience-band-blur-1587927(1).jpg">
            </div>


            <div class="count">
                <p>1</p>

            </div>
            <div class="name">
                <p>Menya Ruru</p>

            </div>

            <div class="time">
                <p>3:45</p>
            </div>
            <div class="action">
                <p>...</p>

            </div>

        </div>



        <div class="song">
            <div class="thumb">
                <img src="../../assets/img/blur-close-up-concert-164879.jpg">
            </div>


            <div class="count">
                <p>1</p>

            </div>
            <div class="name">
                <p>Menya Ruru</p>

            </div>

            <div class="time">
                <p>3:45</p>
            </div>
            <div class="action">
                <p>...</p>

            </div>

        </div>



        <div class="song">
            <div class="thumb">
                <img src="../../assets/img/heads.jpg">
            </div>


            <div class="count">
                <p>1</p>

            </div>
            <div class="name">
                <p>Menya Ruru</p>

            </div>

            <div class="time">
                <p>3:45</p>
            </div>
            <div class="action">
                <p>...</p>

            </div>

        </div>




        <div class="song">
            <div class="thumb">
                <img src="../../assets/img/banner.jpg">
            </div>


            <div class="count">
                <p>1</p>

            </div>
            <div class="name">
                <p>Menya Ruru</p>

            </div>

            <div class="time">
                <p>3:45</p>
            </div>
            <div class="action">
                <p>...</p>

            </div>

        </div>



        <div class="song">
            <div class="thumb">
                <img src="./img/banner.jpg">
            </div>


            <div class="count">
                <p>1</p>

            </div>
            <div class="name">
                <p>Menya Ruru</p>

            </div>

            <div class="time">
                <p>3:45</p>
            </div>
            <div class="action">
                <p>...</p>

            </div>

        </div>

    </div>


</div>
<div class="modal" id="popup">
    <div class="formClass">


        <div class="head">
            <h3>Create New Album</h3>
        </div>
        <form [formGroup]="form" (ngSubmit)="SaveAlbum()">
            <div class="form-group">
                <div [ngClass]="{'has-error': (form.controls.title.errors && form.controls.title.dirty), 'has-success': !form.controls.title.errors}">
                    <input formControlName="title" type="text" class="form-control" placeholder="Enter Title">
                    <ul class="help-block">
                        <li *ngIf="form.controls.title.errors?.required && form.controls.title.dirty">This field is required</li>
                        <li *ngIf="(form.controls.title.errors?.minlength || form.controls.title.errors?.maxlength) && form.controls.title.dirty">
                            Minimum characters: 3, Maximum characters 15</li>
                        <li *ngIf="form.controls.title.errors?.validateName && form.controls.title.dirty">Title must not have special characters</li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div [ngClass]="{'has-error': (form.controls.genre.errors && form.controls.genre.dirty), 'has-success': !form.controls.genre.errors}">
                    <input formControlName="genre" type="text" class="form-control" placeholder="Enter Genre">
                    <ul class="help-block">
                        <li *ngIf="form.controls.genre.errors?.required && form.controls.genre.dirty">This field is required
                        </li>

                    </ul>
                </div>
            </div>

            <div class="form-group">
                <div [ngClass]="{'has-error': (form.controls.link.errors && form.controls.link.dirty), 'has-success': !form.controls.link.errors}">
                    <input formControlName="link" type="text" class="form-control" placeholder="Enter Link">
                    <ul class="help-block">
                        <li *ngIf="form.controls.link.errors?.required && form.controls.link.dirty">This field is required
                        </li>

                    </ul>
                </div>
            </div>

            <div class="form-group">
                <div [ngClass]="{'has-error': (form.controls.status.errors && form.controls.status.dirty), 'has-success': !form.controls.status.errors}">
                    <input formControlName="status" type="text" class="form-control" placeholder="Enter status">
                    <ul class="help-block">
                        <li *ngIf="form.controls.status.errors?.required && form.controls.status.dirty">This field is required
                        </li>

                    </ul>
                </div>
            </div>
            <!--
        <div class="form-group">
            <div [ngClass]="{'has-error': (form.controls.genre.errors && form.controls.genre.dirty), 'has-success': !form.controls.genre.errors}">
                <input formControlName="genre" type="text" class="form-control" placeholder="Enter Genre">
                <ul class="help-block">
                    <li *ngIf="form.controls.genre.errors?.required && form.controls.genre.dirty">This field is required
                    </li>

                </ul>
            </div>
        </div> -->


            <div class="form-group">
                <div [ngClass]="{'has-error': (form.controls.description.errors && form.controls.description.dirty), 'has-success': !form.controls.description.errors}">
                    <textarea formControlName="description" type="text" class="form-control" placeholder="Enter Description"></textarea>
                    <ul class="help-block">
                        <li *ngIf="form.controls.description.errors?.required && form.controls.description.dirty">This field is required
                        </li>

                    </ul>
                </div>
            </div>



            <div class="btn-class">
                <button (click)="Cancel()">Cancel</button>
                <button (click)=SaveAlbum()>Save</button>
            </div>
        </form>



    </div>
</div>