<div class="preview-container">
    <div class="songs-container">
        <div class="title">
            <div class="actions">
                <h2>Albums <span class="count-span">{{albums.length}}</span></h2>
            </div>
            <div class="actions">
                <a [routerLink]="'../music-upload/single'" class="tool-tip">+
          <p style="color: white;" class="tooltip-text">Add New Album</p>
        </a>

            </div>
        </div>
        <div class="song active" *ngFor="let album of albums; index as i;" (click)="onSelectedAlbum(album)">
            <div class="cover">
                <img src="{{album.cover}}">
            </div>
            <div class="count">
                <p>{{i + 1}}</p>
            </div>
            <div class="name">
                <p>{{album.name}}</p>
            </div>
            <div class="time">
                <p *ngIf="album.numberOfSongs; else zeroSongs">Songs: {{album.numberOfSongs}}</p>
                <ng-template #zeroSongs>
                    <p>Songs: 0</p>
                </ng-template>
            </div>
            <div class="action">
                <a routerLink="wamlambez">...</a>
            </div>
        </div>
    </div>
    <div class="album-details">
        <div class="details-title">
            <h3>Album Songs <span *ngIf="selectedAlbum" class="count-span">{{selectedAlbum.songs.length}}</span></h3>
            <a (click)="goToUpload()" *ngIf="selectedAlbum" class="tool-tip">+
        <p style="color: white;" class="tooltip-text">Add New Song</p>
        <p style="color: white;" *ngIf=" selectedAlbum && selectedAlbum.songs.length === 5" class="tooltip-text">This
          album is full</p>
      </a>
            <ng-template #noSelectedAlbum>Select an album to view it's songs below;</ng-template>
        </div>
        <div *ngIf="selectedAlbum; else noSelectedAlbum">
            <p> Album-name: {{selectedAlbum.name}}</p>
            <div *ngIf="selectedAlbum.songs.length > 0; else noSongs">
                <div *ngFor="let song of selectedAlbum.songs index as i">
                    <div class="song-details">
                        <div class="numbering">
                            <p>{{i + 1}}</p>
                        </div>
                        <div class="title">
                            <small>Title</small>
                            <p>{{song.title}}</p>
                        </div>
                        <div class="duration">
                            <small>Duration </small>
                            <p>{{song.duration}}</p>
                        </div>
                        <div class="status">
                            <small>Status </small>
                            <p>{{song.status}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noSongs>
                <div style="color:white;">
                    This album has no songs yet
                    <a [routerLink]="'../music-upload/single'">Upload Song</a>
                </div>
            </ng-template>
        </div>
    </div>
</div>