
<div class="about">
    <div class="header gradient-normal">

      <div class="banner">
        <img src="../../../assets/img/blur-close-up-concert-164879.jpg">

        <div class="para">

            <h2>Your Music Across multiple platforms  </h2>


            <div class="main">
              <p>Get Music Out there with Newwell. </p>
            </div>

            <a href="" class="btn">Get Started</a>
          </div>



      </div>



    </div>


    <div class="div-one gradient-dark circle-right">

      <div class="full">

        <div class="images">
          <img src="../../../assets/img/blur-close-up-concert-164879.jpg">
          <img src="../../../assets/img/audience-band-blur-1587927.jpg">

          <img src="../../../assets/img/audio-brown-connection-1337753.jpg">
          <img src="../../../assets/img/chord-close-up-electric-guitar-96380.jpg">
          <img src="../../../assets/img/pricing.jpg">
          <img src="../../../assets/img/jumbo.jpg">
        </div>

          <div class="para">

              <h2>   </h2>


              <div class="main">
                <p>Newwell Music is a digital distribution company with a standing relationship with the major Global digital music platforms, and we've developed a distribution system that combines fast delivery with manual inspection of every release, We focus to create the systems,communication channels, and informational resources. </p>
              </div>

              <a href="" class="btn">Get Started</a>
            </div>

      </div>

    </div>

    <div class="div-one flex-reverse gradient-danger circle-left">

        <div class="right">

          <img src="../../../assets/img/chord-close-up-electric-guitar-96380.jpg">

        </div>
        <div class="left">

            <div class="para">


                <h2> Upload your music</h2>
                <div class="main">
                  <p>We are fast even if we incorporate Manual Inspection so if you spelled a track title incorrectly or listed the wrong publisher for a cover song, we’ll catch it! Negotiate while your resources are withheld in escrow until Newwell delivers your music in the best shape and foam possible to digital partners mostly in a heartbeat.</p>
                </div>
                <a href="" class="btn">Upload Now</a>
              </div>

        </div>

      </div>









      <div class="foot">

          <div class="para">

              <h2>Get Started Now</h2>
              <div class="main">
                <p>Sign up with us either as an artist to get your work published and access to
                  analytics to review your progress or as a user to interact with the online
                  community.</p>
              </div>

              <a href="" class="btn">Start Now</a>
            </div>

      </div>
  </div>

