
<div class="about">
    <div class="header">
      <div class="hero">
        <img src="../../../assets/img/pricing.jpg" alt="" srcset="">
      </div>



      <div class="action">


        <div class="call">
          <h2>About Us</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt tempora, veniam sint at neque dolorum repudiandae quia quaerat necessitatibus iusto accusamus consequatur alias dolorem, amet corporis reiciendis. Incidunt, numquam obcaecati.</p>

        </div>
      </div>
    </div>



    <div class="div-about gradient-none bgdark">
<div class="left">
  <h2>Our Story</h2>
</div>
<div class="right">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt in nesciunt et. Asperiores reiciendis minima facilis tempore possimus,
   temporibus pariatur commodi molestiae veritatis quas minus nulla deserunt assumenda? Eius, sequi?</p>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, voluptate delectus eius ipsa corrupti nobis tempora voluptatem facere fugit amet sit.
      Dignissimos nihil laborum temporibus error saepe. Suscipit, voluptates non.</p>


      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, voluptate delectus eius ipsa corrupti nobis tempora voluptatem facere fugit amet sit.
          Dignissimos nihil laborum temporibus error saepe. Suscipit, voluptates non.</p>
</div>


    </div>



    <div class="div-one gradient-none">
        <div class="para">
          <div class="title">
              <h2> Get Started Now</h2>
          </div>

            <div class="main">
              <p>
                Start your Music journey with NewWell
              </p>
            </div>
          <p routerLink="/artsist-signup" class="btn">Create An Account</p>
        </div>

    </div>






    <div class="foot gradient-none">

      <div class="para" >


        <div class="main">
          <div class="banner-head">
              <h2 >Our Partners</h2>
          </div>


          <img src="../../../assets/img/carousel/Deezer_logo.svg">
          <img src="../../../assets/img/carousel/amazon-2.svg">
          <img src="../../../assets/img/carousel/amazon-icon.svg">
          <img src="../../../assets/img/carousel//apple-music.svg">
          <img src="../../../assets/img/carousel/google_play_music.svg">
          <img src="../../../assets/img/carousel/itunes.svg">
          <img src="../../../assets/img/carousel/jambotunes.svg">
          <img src="../../../assets/img/carousel/pandora.svg">
          <img src="../../../assets/img/carousel//soundcloud_logo.svg">
          <img src="../../../assets/img/carousel/spotify.svg">
          <img src="../../../assets/img/carousel/tidal.svg">
          <img src="../../../assets/img/carousel//youtube.svg">

        </div>


      </div>

    </div>
  </div>
