<div class="outer-container">
    <header>
        <div class="banner">
            <img src="../../../assets/images/newwellphotos/band-bottle-club-2240766.jpg" alt="">
            <div class="overlay">
                <div class="text-content">
                    <h3>Newwell Music</h3>
                    <p class="bold">An industry chief in all phases of the Music business. We have effectively surpassed our client's desires by giving inventive answers for specialists' to Market and sell music.</p>
                    <a routerLink="../artist-signup" class="link-button">Join Us Now</a>
                </div>
            </div>
        </div>
    </header>
    <section class="main reverse">
        <div class="content">
            <h3>Performers' best business instrument.</h3>
            <p>Newwell Music is an advanced Digital distribution organization with a standing association with the major Global Digital music stores, Among them Amazon Music, Apple Music, Deezer, Google Play, iHeartRadio, JamboTunes, Napster, Pandora, Spotify,
                Tidal, Youtube Music among others.</p>
        </div>
        <div class="image-section">
            <img src="../../../assets/images/newwellphotos/smartphone-407108_1920.jpg" alt="">
            <div class="image-section-overlay"></div>
        </div>
    </section>
    <section class="main">
        <div class="content">
            <p>We've built up a circulation framework that consolidates quick delivery with manual examination on each discharge, We focus on making marketing and selling infrastructure, communication channels, and informational resources. </p>
        </div>
        <div class="image-section">
            <img src="../../../assets/images/newwellphotos/music-1290087_1920.jpg" alt="">
            <div class="image-section-overlay"></div>
        </div>
    </section>
    <section class="main reverse">
        <div class="content">
            <p>Here at Newwell, we believe in talent perfection and as such we believe in you. We believe in your music career which is the reason why we go out of our way to get it right for you. We Want to take you to the world so that you can inspire
                millions with your Tunes.</p>
            <p>We move with speed to help you secure your place in the industry.</p>
        </div>
        <div class="image-section">
            <img src="../../../assets/images/newwellphotos/afro-blur-city-813940.jpg" alt="">
            <div class="image-section-overlay"></div>
        </div>
    </section>
    <section class="main">
        <div class="content">
            <p>With the current state of internet penetration, most people are now able to stream music online which means a new platform for already established and upcoming musicians, which is where we come in.</p>
            <p>We have created a dynamic ecosystem that is solely meant for you.</p>
        </div>
        <div class="image-section">
            <img src="../../../assets/images/newwellphotos/concert-1838976_1920.jpg" alt="">
            <div class="image-section-overlay">
                <div class="action">
                    <h5>Our rates are the best in the market</h5>
                    <a routerLink="../pricing" class="link-button">Learn More...</a>
                </div>
            </div>
        </div>
    </section>
    <section class="last-section">
        <div class="last-image-section">
            <img src="../../../assets/images/newwellphotos/squad-3370836_1920.jpg" alt="">
            <div class="image-section-overlay">
                <div class="action">
                    <h3>Start your journey with us</h3>
                    <a href="" class="link-button">Join Us Now</a>
                </div>
            </div>
        </div>

    </section>
</div>