@import '../../../sass/base';


.flex-reverse {
  flex-direction: row-reverse;
}

.btn {
  color: white;
}

.gradient-normal {
  @include gradient($banner, $secondary);
  .btn {
    background: $danger;

    :hover {
      background: $secondary;
      border: 1px solid $banner;
    }
  }
}
.gradient-dark {
  @include gradient($banner, $banner);
}
.gradient-danger {
  @include gradient($banner, $danger);

  .btn {
    background: $secondary;


    :hover {

      background: $danger;
      border: 1px solid $banner;

    }
  }

}

.circle-left {

  .circle {
    left: 10px;
    top: 10px;
  }

}

.circle-right {

  .circle {
    right: 10px;
    top: 10px;
  }

}

.about {
  display: flex;
  justify-content: center;
  // align-items: center;
  background: $banner;
  flex-direction: column;


  .header {

    display:flex;
    height: 80vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    justify-content: center;
    align-items: center;

   .banner {
     display: flex;
     width:80%;
     height: 50%;


    img {

      object-fit: cover;
      width: 50%;
      height: 100%;

    }

    .para {
      display: flex;
      width:50%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      color: white;
      margin: 20px;

      h2 {
        font-size: 1.5rem;
      }
    }
   }


    .action {
      position: absolute;
      bottom:0;
      left:0;
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-direction: column;
      color: white;
      width: 50%;
      height: 100%;

      .call {
        width:50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        .btnClass {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;

          }
        }
      }

      .call1 {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }


  }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: darken($secondary, 15%);
    width: 100%;
    height: 50px;


    h2 {
      margin-left: 20px;
      color: white;
    }


  }


  .div-one {

    display:flex;
    width:100%;
    height: 70vh;
    padding: 30px;
    justify-items: center;
    transition: all 0.2s;

    .full {
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      height: 80%;


      color: white;

      .images {
        display: flex;
        justify-content: center;
        align-items: center;
        width:50%;
        height: 80%;
        flex-wrap: wrap;


        img {
          object-fit: cover;
          width: 30%;
          height: 40%;
          margin:5px;
          border-radius: 10px;
        }

      }

      .para {
        display: flex;
        justify-content: center;
        align-items: center;
        width:50%;
        height: 80%;
        flex-direction: column;


        .main {
          display: flex;
          justify-content: center;
          align-items: center;
          width:80%;
          height: 80%;

        }
      }
    }

    .right {
      display: flex;
      justify-content: center;
      width:50%;
      height: 80%;

      .circle-sm {
        display: none;
      }


      img {
      width:80%;
      height: 100%;
      object-fit: cover;
      box-shadow: 6px 8px 12px 3px rgba(0,0,0,0.2),  12px 16px 24px 6px rgba(0,0,0,0.19);
      border-radius: 10px;
      }

    }


    .left {
      display: flex;
      justify-content: center;
      width:50%;
      height: 80%;
position: relative;

        .circle {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      color: black;
      position: absolute;


      &:hover {
        background: $danger;
        width:70px;
        height: 70px;
        border-radius: 50%;

      }

    }


      .para {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        flex-direction: column;
      }
    }

  }

  .foot {
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: $banner;

    .para {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      flex-direction: column;

      .btn {
        background: $banner;
        border: 1px solid $danger;
        width: 30%;
        color: white;

        :hover {
          background: $danger;

        }
      }

    }
  }
}





@media screen and (max-width: 640px){


  .about {

    .header {
      height: 80vh;


      .banner {

        flex-direction: column;
        justify-content: center;

        img {
          height: 50%;
          width: 100%;

        }

        .para {
          height: 50%;
          width: 100%;
          margin: 0;
          display: flex;
          justify-content: center;
        }
      }
      .action {
        width: 100%;

        .call {
          width: 100%;
        }
      }
    }

    .div-one {

      flex-direction: column;
      height: 100vh;
      width: 100%;

      .full {
        flex-direction: column;
        .images {
          margin-top:20px;
          width: 100%;
        }

        .para {
          width: 100%;
        }
      }
      .right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .circle-sm {
          top: 0;
          left: 0;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          background: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
          color: black;
          position: absolute;


          &:hover {
            background: $danger;
            width:70px;
            height: 70px;
            border-radius: 50%;

          }
        }
      }

      .left {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        position: static;

        .circle {
          top: 10px;
          left: 10px;
        }

        .para {
        margin-top: 20px;
        margin-bottom: 20px;
        }
      }
    }
  }




  }


@media screen and (max-width: 320px){


.publishing {
  .div-one {

    flex-direction: column;
    .right {
      width: 100%;
    }

    .left {
      width: 100%;
    }
  }
}




}




