<div class="left" id="sidemenu">

  <!-- <h3>Newwell</h3> -->
  <div class="actions">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>

  </div>

    <h3>Dashboard</h3>
    <ul>
            <li><i class="fa fa-home"></i><a routerLink="/dashboard">Home</a></li>
        <li><i class="fa fa-plus"></i><a routerLink="/dashboard/songs">New Music</a></li>
        <li><i class="fa fa-list"></i><a  routerLink="/dashboard/albums">Albums</a></li>
        <li><i class="fa fa-book"></i><a  routerLink="/dashboard/sales">Sales</a></li>
        <li><i class="fa fa-history"></i><a routerLink="/dashboard/analytics">Analytics</a></li>



    </ul>



    <h3 class="pad">Settings</h3>
    <ul>
            <li><i class="fa fa-user"></i><a  routerLink="/dashboard/profile">My Profile</a></li>
            <li><i class="fa fa-users"></i><a  routerLink="/dashboard/change-password">Change Password</a></li>


    </ul>


</div>
