<!-- <div class="container">
  <div class="row">
    <div class="col-md-9">




        <div class ="panel panel-danger">
            <div class ="panel-heading">
               <h3 class ="panel-title">All Songs</h3>
            </div>

            <div class = "panel-body">
                <ul class = "list-group">


                    <li class = "list-group-item">


                        <div class="row d-inline-flex">
                          <div class="col-2 d-inline text-center">
                              <img src="../../../assets/images/bgSignUp.jpg">

                          </div>
                          <div class="col-1 d-inline">
                              <p>1</p>

                          </div>

                          <div class="col-2 d-inline">
                              <p>WizKid</p>

                          </div>
                          <div class="col-2 d-inline">
                              <p>WizKid</p>

                          </div>
                          <div class="col-1 d-inline">
                              <a href=""><i class="fa fa-thumbs-up"></i></a>

                          </div>


                        <div class="col-1 d-inline">
                            <a href=""><i class="fa fa-comments"></i></a>

                        </div>

                        <div class="col-1 d-inline">
                            <p>3:45</p>

                        </div>
                        <div class="col-1 d-inline">
                            <a href=""><i class="fa fa-download"></i></a>

                        </div>
                        <div class="col-1 d-inline">

                          <p>4657388382</p>

                        </div>

                        </div>

                      </li>


                      <li class = "list-group-item">


                          <div class="row d-inline-flex">
                            <div class="col-2 d-inline text-center">
                                <img src="../../../assets/images/bgSignUp.jpg">

                            </div>
                            <div class="col-1 d-inline">
                                <p>1</p>

                            </div>

                            <div class="col-2 d-inline">
                                <p>WizKid</p>

                            </div>
                            <div class="col-2 d-inline">
                                <p>WizKid</p>

                            </div>
                            <div class="col-1 d-inline">
                                <a href=""><i class="fa fa-thumbs-up"></i></a>

                            </div>


                          <div class="col-1 d-inline">
                              <a href=""><i class="fa fa-comments"></i></a>

                          </div>

                          <div class="col-1 d-inline">
                              <p>3:45</p>

                          </div>
                          <div class="col-1 d-inline">
                              <a href=""><i class="fa fa-download"></i></a>

                          </div>
                          <div class="col-1 d-inline">

                            <p>4657388382</p>

                          </div>

                          </div>

                        </li>



                        <li class = "list-group-item">


                            <div class="row d-inline-flex">
                              <div class="col-2 d-inline text-center">
                                  <img src="../../../assets/images/bgSignUp.jpg">

                              </div>
                              <div class="col-1 d-inline">
                                  <p>1</p>

                              </div>

                              <div class="col-2 d-inline">
                                  <p>WizKid</p>

                              </div>
                              <div class="col-2 d-inline">
                                  <p>WizKid</p>

                              </div>
                              <div class="col-1 d-inline">
                                  <a href=""><i class="fa fa-thumbs-up"></i></a>

                              </div>


                            <div class="col-1 d-inline">
                                <a href=""><i class="fa fa-comments"></i></a>

                            </div>

                            <div class="col-1 d-inline">
                                <p>3:45</p>

                            </div>
                            <div class="col-1 d-inline">
                                <a href=""><i class="fa fa-download"></i></a>

                            </div>
                            <div class="col-1 d-inline">

                              <p>4657388382</p>

                            </div>

                            </div>

                          </li>


                          <li class = "list-group-item">


                              <div class="row d-inline-flex">
                                <div class="col-2 d-inline text-center">
                                    <img src="../../../assets/images/bgSignUp.jpg">

                                </div>
                                <div class="col-1 d-inline">
                                    <p>1</p>

                                </div>

                                <div class="col-2 d-inline">
                                    <p>WizKid</p>

                                </div>
                                <div class="col-2 d-inline">
                                    <p>WizKid</p>

                                </div>
                                <div class="col-1 d-inline">
                                    <a href=""><i class="fa fa-thumbs-up"></i></a>

                                </div>


                              <div class="col-1 d-inline">
                                  <a href=""><i class="fa fa-comments"></i></a>

                              </div>

                              <div class="col-1 d-inline">
                                  <p>3:45</p>

                              </div>
                              <div class="col-1 d-inline">
                                  <a href=""><i class="fa fa-download"></i></a>

                              </div>
                              <div class="col-1 d-inline">

                                <p>4657388382</p>

                              </div>

                              </div>

                            </li>













                 </ul>




            </div>
         </div>





    </div>
    <div class="col-md-3">

    </div>
  </div>
</div> -->
<div>
    <div style="display:block;">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">

    </canvas>
    </div>
</div>
<div style="display:block;">
    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">

  </canvas>
</div>
<div style="display:block; background: #333;">
    <canvas baseChart [data]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType">

  </canvas>
</div>
<div style="display:block;">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType">

  </canvas>
</div>