<div class="flex-container">

    <div class="complete-profile">
        <div class="wrapper">

            <h3>Complete Your Profile</h3>
            <form [formGroup]="artistProfile" (ngSubmit)="onSubmit()" class="form-container">
                <div>
                    <!-- <label class="center-block">Name </label> -->
                    <input formControlName="name" type="text" autocomplete="off" [(ngModel)]="name"></div>
                <div *ngIf="artistProfile.controls['name'].invalid && (artistProfile.controls['name'].dirty || artistProfile.controls['name'].touched)" class="alert alert-danger">
                    <div *ngIf="artistProfile.controls['name'].errors.required">
                        Name is required.
                    </div>
                </div>
                <div>
                    <!-- <label class="center-block">Phone Number </label> -->
                    <input formControlName="phoneNumber" type="text" autocomplete="off" [(ngModel)]="phoneNumber"></div>
                <div *ngIf="artistProfile.controls['phoneNumber'].invalid && (artistProfile.controls['phoneNumber'].dirty || artistProfile.controls['phoneNumber'].touched)" class="alert alert-danger">
                    <div *ngIf="artistProfile.controls['phoneNumber'].errors.required">
                        Phone Number is required.
                    </div>
                    <div *ngIf="artistProfile.controls['phoneNumber'].errors.pattern">
                        Enter a valid phone Number
                    </div>
                </div>
                <div>
                    <!-- <label class="center-block">Email </label> -->
                    <input formControlName="email" type="email" autocomplete="off" [(ngModel)]="email">

                </div>
                <div *ngIf="artistProfile.controls['email'].invalid && (artistProfile.controls['email'].dirty || artistProfile.controls['email'].touched)" class="alert alert-danger">
                    <div *ngIf="artistProfile.controls['email'].errors.required">
                        Email is required.
                    </div>
                </div>
                <div>
                    <!-- <label class="center-block">Confirm Password </label> -->
                    <input formControlName="genre" type="text" autocomplete="off" placeholder="Genre">

                </div>
                <div *ngIf="artistProfile.controls['genre'].invalid && (artistProfile.controls['genre'].dirty || artistProfile.controls['genre'].touched)" class="alert alert-danger">
                    <div *ngIf="artistProfile.controls['genre'].errors.required">
                        Genre is required
                    </div>
                </div>
                <div class='mb-4 image-preview' style='display: flex; justify-content: space-between; width: 100%;'>
                    <!-- <label class="center-block">Password </label> -->
                    <textarea class='mr-4' formControlName="bio" autocomplete="off" placeholder="Bio"></textarea>
                    <img [src]="imageData" alt="" id="image-preview">
                </div>
                <div *ngIf="artistProfile.controls['bio'].invalid && (artistProfile.controls['bio'].dirty || artistProfile.controls['bio'].touched)" class="alert alert-danger">
                    <div *ngIf="artistProfile.controls['bio'].errors.required">
                        Bio is required.
                    </div>
                </div>
                <div class="custom-file">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <input formControlName="profilePic" (change)="onImageChange($event)" class="custom-file-input" type="file" autocomplete="off" placeholder="profile Picture">
                    <!-- <input type="file" formControlName="profilePic" class="custom-file-input"> -->
                </div>
                <div *ngIf="artistProfile.controls['profilePic'].invalid && (artistProfile.controls['profilePic'].dirty || artistProfile.controls['profilePic'].touched)" class="alert alert-danger">
                    <div *ngIf="artistProfile.controls['profilePic'].errors.required">
                        Genre is required
                    </div>
                </div><button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>